{{> organisms/header/logo-inline modifier="bs_viewport"}}
{{> organisms/slider/product/curved}}

<div class="bs_anchor">
    <h2> Punto 1: No se que</h2>
    <h2> Punto 2: Lore Ipsum</h2>
</div>
{{> molecules/block/anchor/cloud}}
{{> organisms/slider/articles}}
{{> organisms/block/samples }}
{{> organisms/banner/arrow }}
{{> organisms/block/testimony
        modifier="a-mi a-mi--left bs_viewport"
}}
{{> organisms/banner/basic modifier="a-mi  bs_viewport"}}
{{> organisms/block/authors modifier="a-mi a-mi--left bs_viewport"}}
{{> organisms/banner/data modifier="a-mi bs_viewport"}}
{{> organisms/articles/zig-zag modifier="bs_anchor"}}
{{> organisms/block/contact
        bgImage=images.bg
        modifier="a-mi  bs_viewport"}}
{{> organisms/articles/slim modifier="a-mi a-mi--left bs_viewport"}}
<section class="og-block-ceo"></section>
{{> organisms/footer/classic
        linkModifier="a-text--xs a-text--secondary a-pad--top-5 a-text--link--secondary"
        columnModifier="l-column l-column--1-4 l-column--mobile--1-1
                         a-pad--x-20 a-pad--mobile-40
                         a-border a-border--light a-border--left a-border--mobile--bottom"}}



