{{> organisms/header/og-logo-inline modifier="bs_viewport"}}

<!-- {{> organisms/slider/product/curved}}-->
{{> organisms/slider/articles}}
{{> organisms/block/samples }}
{{> organisms/banner/arrow }}
{{> organisms/block/testimony
        modifier="a-mi a-mi--left bs_viewport"
}}
{{> organisms/banner/basic modifier="a-mi  bs_viewport"}}
{{> organisms/block/authors modifier="a-mi a-mi--left bs_viewport"}}
{{> organisms/banner/data modifier="a-mi bs_viewport"}}
{{> organisms/articles/zig-zag modifier=""}}
{{> organisms/block/contact modifier="a-mi  bs_viewport"}}
{{> organisms/articles/slim modifier="a-mi a-mi--left bs_viewport"}}

{{> organisms/footer/classic}}


<section class="og-block-ceo"></section>

