{{> organisms/header/og-logo-inline modifier="bs_viewport"}}
<div class="og-slider-product-curved a-bg a-bg--gradient--light l-column--1-1 l-position a-mar--y--bottom u-shadow--bottom">
    {{> atoms/image/normal
            pictureClass="l-column--1-1"
            modifier="og-slider-product-curved__image l-position--absolute l-position--absolute--center"
            src="https://i0.wp.com/amazfitcentral.com/wp-content/uploads/2018/06/Original-Xiaomi-Huami-Amazfit-Bip-BIT-PACE-Lite-Youth-Smart-font-b-Watch-b-font-font.png?w=840"}}
    <div class="og-slider-product-curved__content">
        {{> atoms/title/h1 title="AmazFit" modifier="a-text a-text--center a-text--secondary a-pad"}}
    </div>
    <div class="og-slider-product-curved__content--bottom">
        {{> atoms/title/h1 title="Por tan solo 250€" modifier="a-text a-text--center a-text--secondary a-pad"}}
    </div>
    {{> atoms/button/rounded
            cta="Comprar"
            modifier="og-slider-product-curved__button a-button--m a-button--secondary l-position--absolute"
    }}
</div>
<!-- {{> organisms/slider/articles}} -->
{{> organisms/block/samples }}
{{> organisms/banner/arrow }}
{{> organisms/block/testimony
        modifier="a-mi a-mi--left bs_viewport"
}}
{{> organisms/banner/basic modifier="a-mi a-mi--right bs_viewport"}}
{{> organisms/block/authors modifier="a-mi a-mi--left bs_viewport"}}
{{> organisms/banner/data modifier="a-mi a-mi--right bs_viewport"}}
{{> organisms/articles/zig-zag modifier="" dataset=(arr "[1, 3, 4]")}}
{{> organisms/block/contact modifier="a-mi a-mi--right bs_viewport"}}
{{> organisms/articles/slim modifier="a-mi a-mi--left bs_viewport"}}


<section class="og-block-ceo"></section>

