{{> organisms/header/og-logo-inline}}
<div class="og-slider-product-curved a-bg a-bg--gradient--light l-column--1-1 l-position a-mar--y--bottom u-shadow--bottom">
    {{> atoms/image/normal
            pictureClass="l-column--1-1"
            modifier="og-slider-product-curved__image l-position--absolute l-position--absolute--center"
            src="https://i0.wp.com/amazfitcentral.com/wp-content/uploads/2018/06/Original-Xiaomi-Huami-Amazfit-Bip-BIT-PACE-Lite-Youth-Smart-font-b-Watch-b-font-font.png?w=840"}}
    <div class="og-slider-product-curved__content">
        {{> atoms/title/h1 title="AmazFit" modifier="a-text a-text--center a-text--secondary a-pad"}}
    </div>
    <div class="og-slider-product-curved__content--bottom">
        {{> atoms/title/h1 title="Por tan solo 250€" modifier="a-text a-text--center a-text--secondary a-pad"}}
    </div>
    {{> atoms/button/rounded
            cta="Comprar"
            modifier="og-slider-product-curved__button a-button--m a-button--secondary l-position--absolute"
    }}
</div>
<!-- {{> organisms/slider/articles}} -->
{{> organisms/block/samples}}
{{> organisms/banner/arrow}}
{{> organisms/block/testimony}}
{{> organisms/banner/basic}}
{{> organisms/block/authors}}
{{> organisms/banner/data}}
{{> organisms/articles/zig-zag}}
{{> organisms/block/contact}}
{{> organisms/articles/slim}}


<section class="og-block-ceo"></section>

