<header class="og-header--mobile l-position l-flex l-flex--justify-center  {{modifier}}">
    {{> atoms/image/normal src=logo}}
    <div class="og-header--mobile__burger og-header--mobile__burger--right l-position--absolute">
        {{> atoms/icons/icon icon="burger"}}
    </div>

</header>