<div class="og-logo-inline l-flex u-layer-5 u-shadow--bottom">
    <picture class="og-logo-inline__image">
        <img src="/images/bonseo/logo.png"/>
    </picture>
    <nav class="og-logo-inline__navigation l-flex l-flex-item--align-center ">
        <a href="" class="a og-logo-inline__navigation__link">servicios</a>
        <a href="" class="a og-logo-inline__navigation__link">útiles</a>
        <a href="" class="a og-logo-inline__navigation__link">nosotros</a>
        <a href="" class="a og-logo-inline__navigation__link">aprende</a>
    </nav>
</div>