<div data-tag="{{tag}}" class="ml-button-pill l-flex l-flex--direction-column l-flex--justify-center {{modifier}} a-pad">
    {{> atoms/button/svg/square svg=svg modifier="a-svg--m a-svg--secondary a-border a-border--secondary a-border--hover--primary a-border--smooth"}}
    {{>atoms/title/link title=cta modifier="a-text--center a-pad-5"}}
</div>