<section class="og-articles-zigzag a-pad-20 {{modifier}}">
    {{> atoms/title/h2
            title="Últimos Artículos"
            modifier="a-text--center a-text--bold a-pad"
    }}
    {{#each images.products}}
        {{> molecules/article/extract
                title="Nuestros clientes te dan las bienvenida"
                excerpt="Tenía en su casa una ama que pasaba de los cuarenta,
         y una sobrina que no llegaba a los veinte,
         y un mozo de campo y plaza,
         que así ensillaba el rocín como tomaba la podadera."
                cta="Leer Más"
                src=this
                modifier="a-mi a-mi--left bs_viewport"
        }}
    {{/each}}
</section>
