<div class="ml-action-icons {{modifier}} l-flex">
    {{#each icons}}
        {{> atoms/button/icon
                svg=(concat "atoms/icons/utils/" this)
                modifier="a-button--icon--secondary a-button--icon--border ml-action-icons__button a-mar--x-1"
        }}
    {{/each}}
</div>