<section class="og-block-authors l-flex l-flex--justify-center l-flex--wrap a-pad-20 {{modifier}} ">
    {{#each images.products}}
        {{> molecules/card/author
                name="Andres Montes"
                image=this
                career="Comentarista Deportivo"
                description="Humorista y presentador, tenista y alpinista en la intimidad, no bebe alcohol..."
        }}
    {{/each}}
</section>