<section class="og-block-authors l-flex l-flex--justify-center l-flex--wrap a-pad-20 {{modifier}} ">
    {{#each this.mock.products}}
        {{> molecules/card/author
                name=this.name
                image=this.image
                career=this.subtitle
                description=this.description
        }}
    {{/each}}
</section>