<section class="og-block-authors l-flex l-flex--justify-center l-flex--wrap a-pad-20 {{modifier}} ">
    {{> molecules/card/author
            name="Andres Montes"
            image="http://www.clipartroo.com/images/38/angry-student-clipart-38738.png"
            career="Comentarista Deportivo"
            description="Humorista y presentador, tenista y alpinista en la intimidad, no bebe alcohol..."
    }}
    {{> molecules/card/author
            name="David Broncano"
            career="Pachacho"
            image="http://www.clipartroo.com/images/0/angry-clipart-497.png"
            description="Humorista y presentador, tenista y alpinista en la intimidad, no bebe alcohol..."
    }}
    {{> molecules/card/author
            name="David Broncano"
            career="Pachacho"
            image="https://i.guim.co.uk/img/uploads/2017/10/06/Les_Carpenter,_L.png?width=300&quality=85&auto=format&fit=max&s=785c11063a9cb1688a1959143c01a649"
            description="Humorista y presentador, tenista y alpinista en la intimidad, no bebe alcohol..."
    }}
</section>