<div class="og-poster-detail
            a-pad-40
            a-pad--mobile-20
            l-flex l-flex--justify-center l-flex--mobile--wrap ">
    <div class="og-poster-detail__image l-column--1-2 l-column--mobile--1-1 l-position">
        {{> atoms/image/poster
                src=images.product
                pictureClass="og-poster-detail__picture a-text--right l-column--1-1"
                modifier="l-column--1-1"
        }}
        {{> molecules/image/selection
                target=".og-poster-detail__image img"
                modifier="l-position--absolute l-position--absolute--bottom-left"}}
    </div>
    {{> molecules/product/description}}
</div>