<div class="og-block-samples l-flex l-flex--wrap a-pad l-flex--justify-center {{modifier}}">
    {{#times 5}}
        {{> molecules/card/sample modifier="l-column--1-3 l-column--mobile--1-2 ml-card-sample--small"}}
    {{/times}}
</div>