<section class="og-block-testimony a-pad-40 {{modifier}}">
    {{> atoms/title/h2
            title="Opiniones de clientes:"
            modifier=""
    }}
    <div class="og-block-testimony__group l-flex a-pad l-flex--wrap l-flex--justify-center ">
        {{> molecules/card/testimony
                name="Adolfo González"
                opinion="Ha sido una experiencia extraordinaria, repetiría sin dudarlo, 10 de 10 y los dueños muy atentos…"
                modifier="l-column--1-2 l-column--mobile--1-1"
                image="https://dummyimage.com/100x100/000/fff"
        }}
        {{> molecules/card/testimony
                name="Evaristo Ruta"
                opinion="Increíble, impresionante. Inaudible."
                modifier="l-column--1-2 l-column--mobile--1-1"
                image="https://dummyimage.com/100x100/000/fff"
        }}
        {{> molecules/card/testimony
                name="Bright"
                opinion="Increíble, impresionante. Apabullante."
                modifier="l-column--1-2 l-column--mobile--1-1"
                image="https://dummyimage.com/100x100/000/fff"
        }}
        {{> molecules/card/testimony
                name="Adolfo González"
                opinion="Ha sido una experiencia extraordinaria, repetiría sin dudarlo, 10 de 10 y los dueños muy atentos…"
                modifier="l-column--1-2 l-column--mobile--1-1"
                image="https://dummyimage.com/100x100/000/fff"
        }}
    </div>
</section>
