<section class="og-block-testimony {{modifier}}">
    {{> atoms/title/h2
            title="Opiniones de clientes:"
            modifier="a-title--underline"
    }}
    <div class="og-block-testimony__group l-flex a-pad l-flex--wrap l-flex--justify-center ">
        {{#each this.mock.products}}
            {{> molecules/card/testimony
                    name=this.name
                    opinion=this.description
                    modifier="l-column--1-2 l-column--mobile--1-1"
                    image=this.image
            }}
        {{/each}}
    </div>
</section>
