<section class="og-block-testimony a-pad-40 {{modifier}}">
    {{> atoms/title/h2
            title="Opiniones de clientes:"
            modifier=""
    }}
    <div class="og-block-testimony__group l-flex a-pad l-flex--wrap l-flex--justify-center ">
        {{#each images.products}}
            {{> molecules/card/testimony
                    name=@index
                    opinion="Ha sido una experiencia extraordinaria, repetiría sin dudarlo, 10 de 10 y los dueños muy atentos…"
                    modifier="l-column--1-2 l-column--mobile--1-1"
                    image=this
            }}
        {{/each}}
    </div>
</section>
