<a class="a-button l-flex l-flex--align--center {{modifier}}" style="width: 188px;margin-left: auto;">
    <div class="a-svg a-svg--brand a-pad--x-5">
        {{> (partial svg) }}
    </div>
    <!--<span class="c-icon c-icon-euro-budget pg-a-color-secondary c-icon--big"></span>-->
    <span class="">{{cta}}</span>
</a>