<div class="">
    {{> organisms/banner/screen
            modifier="bs_step is-active u-layer-5"
            title="En 2 Pasos"
    }}
    {{> atoms/background/splash
            modifier="a-bg--gradient--light u-layer-minus"}}

    {{> pages/stepped/first modifier="bs_step"}}
    <div class="og-filter-linear bs_step_categories l-flex l-flex--wrap"></div>
    <div class="og-filter-linear bs_step_subcategories l-flex l-flex--wrap"></div>
    <div class="og-filter-linear bs_step_filters l-flex l-flex--wrap"></div>
    <div class="a-pad-40 bs_step_offers u-hide">
        {{> atoms/title/h2 modifier="a-text--bold a-pad--y bs_step_title" title=""}}
        <div class="bs_step_content"></div>
    </div>


    <div class="bs_step_progress
            l-position--fixed l-position--fixed--bottom l-column--1-1
            a-bg--opacity"></div>
</div>

