<header class="og-logo-inline
            a-bg--secondary--dark
            l-flex u-layer-5 u-shadow--bottom l-position
           l-grid-column--full">
    <picture class="l-column--1-1 l-position--absolute a-pad-0" style="top: -10px;">
        <img class="a-image l-position--absolute l-position--absolute--center-x og-logo-inline__image"
             style="height: 80px"
             src="/images/mv.png">
    </picture>
</header>

<div class="">
    {{> organisms/banner/screen
            modifier="bs_step is-active u-layer-5"
            title="En 2 Pasos"
    }}
    {{> atoms/background/splash
            modifier="a-bg--gradient--light u-layer-minus"}}

    {{> pages/stepped/first modifier="bs_step"}}
    <div class="og-filter-linear bs_step_categories l-flex l-flex--wrap"></div>
    <div class="og-filter-linear bs_step_subcategories l-flex l-flex--wrap"></div>
    <div class="og-filter-linear bs_step_filters l-flex l-flex--wrap"></div>
    <div class="a-pad-40 bs_step_offers u-hide">
        {{> atoms/title/h2 modifier="a-text--bold a-pad--y bs_step_title" title=""}}
        <div class="bs_step_content"></div>
    </div>


    <div class="bs_step_progress
            l-position--fixed l-position--fixed--bottom l-column--1-1
            a-bg--opacity"></div>
</div>

<script type="text/javascript" src="/js/flow.min.js"></script>

