<div>
    <div class="m-gdpr__item m-gdpr__item--main gdpr_option_c2c" data-model="dataUse">
        <div class="m-gdpr__text">
            <div class="m-gdpr__check-group">
                <div class="m-gdpr__check c-checkbox"><input type="checkbox"
                                                             name="account_agree_terms_dataUse_c2c"
                                                             id="account_agree_terms_dataUse_c2c"
                                                             data-model="dataUse" data-validation="checkbox"
                                                             data-mandatory="false" value="true"> <label
                        for="account_agree_terms_dataUse_c2c"> He leído y acepto la <a
                        class="c-link c-link--underline" href="/paginas/proteccion-privacidad" target="_blank">
                    política de privacidad</a> </label></div>
            </div>
        </div>
    </div>
    <div class="m-gdpr__item m-gdpr__item--main">
        <div class="m-gdpr__text">
            <div class="m-gdpr__check-group">
                <div class="m-gdpr__check"><label for="account_agree_terms_lopd_c2c"> Autorizo el uso de mis
                    datos para todos los fines detallados en la <a class="c-link c-link--underline"
                                                                   href="/paginas/proteccion-de-privacidad"
                                                                   target="_blank">política de privacidad</a>
                    salvo en aquellos supuestos que nos indique lo contrario marcando la casilla
                    correspondiente: </label></div>
            </div>
        </div>
    </div>
    <div class="m-gdpr__options" id="gdpr_options_c2c">
        <div class="m-gdpr__item radio_container gdpr_option_c2c" data-mandatory="false"
             data-model="sharingData" data-name-space="gdpr" data-validation="radio">
            <div class="m-gdpr__text">¿Le interesa que sus datos sean compartidos con otras sociedades de Ávoris
                y/o sociedades colaboradoras en los sectores de hotelería, restauración, turismo y transportes
                de Dondear viajes S.L. con el fin de que puedan remitirle comunicaciones comerciales sobre sus
                productos y/o servicios que sean de su interés?
            </div>
            <div class="m-gdpr__check-group">
                <div class="m-gdpr__check c-radio"><input type="radio" name="gdpr-0_c2c" data-accept="true"
                                                          data-model="sharingData" id="gdpr-0-accept-c2c"
                                                          value="true"> <label
                        for="gdpr-0-accept-c2c">Sí</label></div>
                <div class="m-gdpr__check c-radio"><input type="radio" name="gdpr-0_c2c" id="gdpr-0-decline-c2c"
                                                          data-model="sharingData" value="false"> <label
                        for="gdpr-0-decline-c2c">No</label></div>
            </div>
        </div>
    </div>
    <div class="m-gdpr__item">
        <div class=" m-gdpr__info"><input class="m-gdpr__info-check" type="checkbox" name="register1c2c"
                                          id="register1c2c" value="value"> <label class="m-gdpr__info-label"
                                                                                  for="register1c2c"> <span>Ver información básica sobre protección de datos</span>
            <div class="m-gdpr__info-label-arrow"></div>
        </label>
            <div class="m-gdpr__toggle"><p><strong>Responsable:</strong> Dondear viajes S.L.<br> Delegado de
                protección de datos: C/ Josep Rover Motta, 27. 07006 Palma</p>
                <p><strong>Finalidad:</strong> Dar de alta como cliente de IBEROJET. Consentimiento al
                    introducir sus datos en Comunicación de datos personales a otras sociedades del Grupo Ávoris
                    y/o colaboradores de Dondear viajes S.L. para la remisión de comunicaciones comerciales.
                    Elaboración de perfiles en el marco de actividades de análisis de mercado. Darse de alta en
                    la newsletter de IBEROJET. Resto de finalidades.</p>
                <p><strong>Derechos:</strong> El cliente podrá revocar en cualquier momento su consentimiento,
                    así como ejercitar, los derechos de oposición, acceso, portabilidad, rectificación,
                    limitación supresión de datos y a no ser objeto de una decisión basada únicamente en el
                    tratamiento automatizado de sus datos, remitiendo una comunicación por escrito a Dondear
                    viajes S.L. a las direcciones indicadas.</p>
                <p><strong>Destinatarios:</strong> Sociedades de Ávoris y sociedades colaboradoras en los
                    sectores de hotelería, restauración, turismo y transportes. Terceros proveedores de
                    servicios que tienen acceso a sus datos personales.</p>
                <p><strong>Más información:</strong> <a
                        href="https://www.iberojet.es/paginas/politica-de-privacidad">Clique aquí</a></p></div>
        </div>
    </div>
</div>
<a id="clickToCallButton" class="c-btn c-btn--uppercase c-btn--big c-btn--full">LLAMADME AHORA</a></form>