<div class="m-phone-help">
    <p class="m-phone-help__text">Nuestro horario de atención es de 09:15 a 20:15</p>
    <div class="m-phone-help__input c-input" data-tooltip-content="Este campo es obligatorio"><input
            class="c-input__element c-input__element--theme-2" required="" type="text" id="c2c-name"> <label
            class="c-input__fake-label">Nombre*</label></div>
    <div class="m-phone-help__input c-input" data-tooltip-content="Este campo es obligatorio"><input
            class="c-input__element c-input__element--theme-2" required="" type="text" id="c2c-lastname"> <label
            class="c-input__fake-label">Apellido*</label></div>
    <div class="m-phone-help__input c-input" data-tooltip-content="El número no es válido"><input
            class="c-input__element c-input__element--theme-2 js-intl-tel-input" required="" type="tel"
            id="c2c-phone"> <label class="c-input__fake-label">Tu número de teléfono*</label>
    </div>
</div>