<div _ngcontent-c12="" class="s-user-search">
    <div _ngcontent-c12="" class="m-user-search">
        <div _ngcontent-c12="" class="m-user-search__container" style="display: flex;">
            <div _ngcontent-c12="" class="m-user-search__inner">
                <div _ngcontent-c12="" class="m-user-search__item m-user-search__title">resultado de tu búsqueda</div>
                <div _ngcontent-c12="" class="m-user-search__item m-user-search__destination">
                    <i _ngcontent-c12="" class="m-user-search__item-icon c-icon c-icon-location c-icon--secondary"></i>
                    Punta Cana
                </div>
                <div _ngcontent-c12="" class="m-user-search__item">
                    <i _ngcontent-c12="" class="m-user-search__item-icon c-icon c-icon-calendar c-icon--secondary"></i>
                    13/12/2019 / 20/12/2019
                </div>
                <div _ngcontent-c12="" class="m-user-search__item m-user-search__stay">
                    <i _ngcontent-c12=""
                       class="m-user-search__stay-main-icon m-user-search__item-icon c-icon c-icon-bed c-icon--secondary"></i>
                    <span _ngcontent-c12="" class="m-user-search__stay-item">7
                        <i _ngcontent-c12=""
                           class="m-user-search__stay-icon c-icon c-icon-nights c-icon--secondary"></i>
                        <span _ngcontent-c12="" class="m-user-search__stay-text">&nbsp;noches, </span>
                    </span>
                    <!----><span _ngcontent-c12="" class="m-user-search__stay-item"> 2
                        <i _ngcontent-c12=""
                           class="m-user-search__stay-icon c-icon c-icon-adults c-icon--secondary"></i>
                        <span _ngcontent-c12="" class="m-user-search__stay-text">&nbsp;adultos  en  </span>
                    </span>
                    <!---->
                    <span _ngcontent-c12="" class="m-user-search__stay-item"> 1
                        <i _ngcontent-c12="" class="m-user-search__stay-icon c-icon c-icon-bed c-icon--secondary"></i>
                        <span _ngcontent-c12="" class="m-user-search__stay-text">&nbsp;habitación</span>
                    </span>
                </div>
            </div>
            <div _ngcontent-c12="" class="m-user-search__actions">
                <div _ngcontent-c12="" class="m-user-search__actions-link">
                    <a _ngcontent-c12="" class="c-link c-link--underline c-link--has-icon js-custom-toogle"
                       data-toggle-class="is-active" data-toggle-target="#modify-search" href="#"><i _ngcontent-c12=""
                                                                                                     class="c-link__icon c-icon-search"></i><span
                            _ngcontent-c12="" class="capitalize-text">modifica</span></a>
                </div>
            </div>
        </div>
        <header-float-search-seeker _ngcontent-c12="" _nghost-c40="" hidden="">
            <div _ngcontent-c40="" class="m-user-search__tab" id="modify-search" style="display: none;">
                <div _ngcontent-c40="" class="m-user-search__container">
                    <form _ngcontent-c40=""
                          class="m-search-form m-search-form--has-close m-search-form--horizontal m-search-form--caribbean-horizontal m-search-form--caribbean js-has-datepicker ng-untouched ng-pristine ng-valid"
                          novalidate="">
                        <div _ngcontent-c40="" class="m-search-form__item m-search-form__item--caribbean-destination">
                            <div _ngcontent-c40="" class="c-select">
                                <label _ngcontent-c40="" class="c-select__label" for="destination">destino</label>
                                <select _ngcontent-c40="" class="c-select__element" id="destination">
                                    <!----><!---->
                                    <!---->
                                    <!----><!---->
                                    <!---->
                                    <option _ngcontent-c40="" value="punta-cana">
                                        Punta Cana / Playa Bávaro
                                    </option>
                                    <option _ngcontent-c40="" value="riviera-maya">
                                        Riviera Maya
                                    </option>
                                    <option _ngcontent-c40="" value="la-habana">
                                        La Habana
                                    </option>
                                    <option _ngcontent-c40="" value="cancun">
                                        Cancún
                                    </option>
                                    <option _ngcontent-c40="" value="habana-varadero">
                                        Combinado Habana-Varadero
                                    </option>
                                    <option _ngcontent-c40="" value="islas-maldivas">
                                        Maldivas
                                    </option>
                                    <option _ngcontent-c40="" value="varadero">
                                        Varadero
                                    </option>
                                    <option _ngcontent-c40="" value="isla-mauricio">
                                        Isla Mauricio
                                    </option>
                                    <option _ngcontent-c40="" value="zanzibar">
                                        Zanzíbar
                                    </option>
                                    <option _ngcontent-c40="" value="jamaica">
                                        Jamaica
                                    </option>
                                    <option _ngcontent-c40="" value="bayahibe">
                                        Bayahibe
                                    </option>


                                </select>
                                <i _ngcontent-c40=""
                                   class="c-select__icon c-icon c-icon-arrow c-icon-wearrow--bottom"></i>
                            </div>
                        </div>
                        <div _ngcontent-c40="" class="m-search-form__item m-search-form__item--caribbean-origin">
                            <div _ngcontent-c40="" class="c-select">
                                <label _ngcontent-c40="" class="c-select__label" for="origin">origen</label>
                                <select _ngcontent-c40="" class="c-select__element" id="origin">
                                    <!---->
                                    <option _ngcontent-c40="" value="MAD">Madrid
                                    </option>
                                </select>
                                <i _ngcontent-c40=""
                                   class="c-select__icon c-icon c-icon-arrow c-icon-arrow--bottom"></i>
                            </div>
                        </div>
                        <div _ngcontent-c40="" class="m-search-form__item m-search-form__item--caribbean-duration">
                            <div _ngcontent-c40="" class="c-select">
                                <label _ngcontent-c40="" class="c-select__label" for="duration">duración</label>
                                <select _ngcontent-c40="" class="c-select__element" id="duration">
                                    <!---->
                                    <option _ngcontent-c40="" value="7">7 noches
                                    </option>
                                </select>
                                <i _ngcontent-c40=""
                                   class="c-select__icon c-icon c-icon-arrow c-icon-arrow--bottom"></i>
                            </div>
                        </div>
                        <div _ngcontent-c40="" class="m-search-form__item m-search-form__item--caribbean-date">
                            <div _ngcontent-c40="" class="c-input">
                                <label _ngcontent-c40="" class="c-input__label" for="date">fecha</label>
                                <input _ngcontent-c40="" class="c-input__element m-price-calendar hasDatepicker"
                                       id="date" name="date" placeholder="Selecciona una fecha" readonly="readonly"
                                       type="text">
                                <i _ngcontent-c40="" class="c-input__icon c-icon c-icon-arrow c-icon-calendar"></i>
                            </div>
                        </div>

                        <div _ngcontent-c40="" class="m-search-form__item m-search-form__item--caribbean-lodging">
                            <div _ngcontent-c40="" class="c-input">
                                <label _ngcontent-c40="" class="c-input__label capitalize-text" for="lodging">habitaciones</label>
                                <input _ngcontent-c40="" class="c-input__element" id="lodging" name="date"
                                       readonly="readonly" type="text" placeholder="selecciona las habitaciones">
                                <i _ngcontent-c40="" class="c-input__icon c-icon c-icon-arrow c-icon-arrow--bottom"></i>
                            </div>
                            <div _ngcontent-c40="" class="uip-popover uip-popover_bottom-position"
                                 style="top: 53px; left: 0px; display: none;">
                                <div _ngcontent-c40="" class="uip-popover__arrow uip-popover__arrow--bottom"
                                     style="left: 98px;"></div>
                                <div _ngcontent-c40="" class="uip-popover__inner">
                                    <header _ngcontent-c40="" class="uip-popover__header">
                                        <label _ngcontent-c40="" class="capitalize-text">alojamiento</label>
                                        <a _ngcontent-c40=""
                                           class="uip-popover__close c-icon c-icon--tiny c-icon-close js-uip-popover-close"></a>
                                    </header>
                                    <header-float-search-lodging _ngcontent-c40="" _nghost-c41="">
                                        <div _ngcontent-c41="" class="m-lodging">
                                            <!---->
                                            <div _ngcontent-c41="" class="m-lodging__no-removable">
                                                <!---->
                                                <div _ngcontent-c41="" class="m-lodging__item">
                                                    <div _ngcontent-c41=""
                                                         class="c-select c-select--inline c-select--small">
                                                        <label _ngcontent-c41=""
                                                               class="c-select__label c-select__label--inline m-lodging__label">hab
                                                            1:</label>
                                                        <div _ngcontent-c41="" class="c-select__box">
                                                            <select _ngcontent-c41=""
                                                                    class="c-select__element c-select__element--small ng-untouched ng-pristine ng-valid">
                                                                <!---->
                                                                <option _ngcontent-c41="" value="1">1 adulto</option>
                                                                <option _ngcontent-c41="" value="2">2 adultos</option>
                                                                <option _ngcontent-c41="" value="3">3 adultos</option>
                                                                <option _ngcontent-c41="" value="4">4 adultos</option>
                                                            </select>
                                                            <i _ngcontent-c41=""
                                                               class="c-select__icon c-select__icon--small c-icon c-icon-arrow c-icon-arrow--bottom"></i>
                                                        </div>
                                                    </div>
                                                    <div _ngcontent-c41=""
                                                         class="c-select c-select--inline c-select--small">
                                                        <div _ngcontent-c41="" class="c-select__box">
                                                            <select _ngcontent-c41=""
                                                                    class="c-select__element c-select__element--small ng-untouched ng-pristine ng-valid">
                                                                <!---->
                                                                <option _ngcontent-c41="" value="0">Sin niños
                                                                </option>
                                                                <option _ngcontent-c41="" value="1">1 niño
                                                                </option>
                                                                <option _ngcontent-c41="" value="2">2 niños
                                                                </option>
                                                                <option _ngcontent-c41="" value="3">3 niños
                                                                </option>
                                                                <option _ngcontent-c41="" value="4">4 niños
                                                                </option>
                                                            </select>
                                                            <i _ngcontent-c41=""
                                                               class="c-select__icon c-select__icon--small c-select__icon--small c-icon c-icon-arrow c-icon-arrow--bottom"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!---->
                                                <!---->

                                                <!---->
                                            </div>
                                            <a _ngcontent-c41=""
                                               class="m-lodging__more-icon c-link c-link--uppercase c-link--has-icon"
                                               href="#">
                                                <i _ngcontent-c41="" class="c-icon c-icon-plus c-icon--small"></i><label
                                                    _ngcontent-c41="">añadir habitación</label>
                                            </a>
                                            <!---->
                                            <a _ngcontent-c41=""
                                               class="c-btn c-btn--tertiary c-btn--big c-btn--uppercase c-btn--full"><label
                                                    _ngcontent-c41="">aceptar</label></a>
                                        </div>
                                    </header-float-search-lodging>
                                </div>
                            </div>
                        </div>

                        <!---->
                        <div _ngcontent-c40="" class="m-search-form__item m-search-form__item--button">
                            <a _ngcontent-c40="" class="c-btn c-btn--big c-btn--uppercase c-btn--full">buscar</a>
                        </div>
                        <i _ngcontent-c40="" class="m-search-form__close c-icon c-icon-close js-custom-toggle"
                           title="Cerrar"></i>

                        <!---->
                    </form>
                </div>

            </div>
        </header-float-search-seeker>
    </div>
</div>
<div _ngcontent-c8="" class="m-panels" data-gtm-results="productImpression" data-gtm-lblevent="hotels">
    <availability-hotel-combination _ngcontent-c8="">
        <!---->
        <div class="m-panels__item m-panel">
            <div class="m-panel__header m-panel__header--center-xs m-panel__header--has-bg m-panel__header--has-bg-no-arrow">
                <!---->
                <div class="c-price c-price--inline c-price--uppercase c-price--big">
                    <!---->
                    <price-view class="c-price__element" _nghost-c27="">
                        <span _ngcontent-c27="">1.605,50&nbsp;€</span>
                    </price-view>
                    <span class="c-price__desc">Precio total del viaje</span>
                </div>
            </div>
            <div class="m-panel__content m-panel__content--no-padding">
                <div class="pg-o-card-combined pg-o-card-combined--has-dropdown">
                    <!---->
                    <availability-hotel-combination-detail class="pg-m-hotel pg-m-hotel--hz">
                        <div class="pg-m-hotel__item">
                            <picture class="pg-m-hotel__picture">
                                <img class=" loaded"
                                     src="https://d2poxrheyfxwbo.cloudfront.net/resize/120x130/filters:quality(65)/s3/hotel/ceff6efe-7c8e-496c-bf0c-69ac617ff633">
                            </picture>
                            <div class="pg-m-hotel__info">
                                <div class="pg-m-hotel__destination">La Habana, Cuba /
                                    3 noches
                                </div>
                                <a target="_blank" href="/hotel/neptuno-triton-la-habana?searcher=N"
                                   class="c-category c-category--block c-category-star--3" title="Neptuno-Tritón">
                                    <span class="pg-a-typo-mufrid u-semi-bold">Neptuno-Tritón</span>
                                </a>
                                <!---->
                                <div class="pg-m-hotel__desc pg-a-typo-ain">
                                    El hotel Neptuno / Tritón se encuentra en La Habana, Cuba y tiene tres estrellas. Se
                                    trata de un hotel inaugurado en el año 1991 que cuenta con muy buenas
                                    comunicaciones, ya que se encuentra cerca de los atractivos más importantes de la
                                    ciudad.

                                    Entre las
                                </div>
                            </div>
                        </div>
                    </availability-hotel-combination-detail>
                    <availability-hotel-combination-detail class="pg-m-hotel pg-m-hotel--hz">
                        <div class="pg-m-hotel__item">
                            <picture class="pg-m-hotel__picture">
                                <img class=" loaded"
                                     src="https://d2poxrheyfxwbo.cloudfront.net/resize/120x130/filters:quality(65)/s3/hotel/8dc4ff6c-4ecc-402f-bebd-81044d859a77">
                            </picture>
                            <div class="pg-m-hotel__info">
                                <div class="pg-m-hotel__destination">Varadero, Cuba /
                                    4 noches
                                </div>
                                <a target="_blank" href="/hotel/sunbeach-varadero?searcher=N"
                                   class="c-category c-category--block c-category-star--3" title="Sunbeach">
                                    <span class="pg-a-typo-mufrid u-semi-bold">Sunbeach</span>
                                </a>
                                <!---->
                                <div class="pg-m-hotel__desc pg-a-typo-ain">
                                    En el corazón de Varadero, en Cuba, se enclava el Sunbeach Grand Hotel. Es un resort
                                    de tres estrellas&amp;nbsp;a 70 metros del Caribe que se encarga de bañar la ciudad.
                                    Se trata de un establecimiento hotelero que cuenta con una larga serie de comodi
                                </div>
                            </div>
                        </div>
                    </availability-hotel-combination-detail>
                </div>
                <div class="m-table m-table-hotel-combined">
                    <div class="m-table__content m-table-hotel-combined__content">
                        <div class="m-table__row m-table-hotel-combined__row">
                            <!---->
                            <div class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--separator">
                                <div class="m-table">
                                    <div class="m-table__heading m-table-hotel-combined__heading m-table-hotel-combined__heading--desktop">
                                        <div class="m-table__concept m-table-hotel-combined__concept">tipo habitación
                                        </div>
                                        <div class="m-table__concept m-table-hotel-combined__concept">regimen</div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--separator">
                                <div class="m-table">
                                    <div class="m-table__heading m-table-hotel-combined__heading m-table-hotel-combined__heading--desktop">
                                        <div class="m-table__concept m-table-hotel-combined__concept">tipo habitación
                                        </div>
                                        <div class="m-table__concept m-table-hotel-combined__concept">regimen</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <availability-hotel-combination-table-row>
                            <div class="m-table__content m-table-hotel-combined__content">
                                <div class="m-table__row m-table__row--solid-bordered m-table-hotel-combined__row">
                                    <!---->
                                    <availability-hotel-combination-table-row-hotel
                                            class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--separator"
                                            _nghost-c37="">
                                        <div _ngcontent-c37="" class="m-table-hotel-combined__panel">
                                            <span _ngcontent-c37=""
                                                  class="m-table-hotel-combined__panel-title">hotel:</span>&nbsp;

                                            <span _ngcontent-c37="" class="m-table-hotel-combined__panel-text">Neptuno-Tritón</span>
                                        </div>
                                        <div _ngcontent-c37="" class="m-table">
                                            <div _ngcontent-c37="" class="m-table__row">
                                                <div _ngcontent-c37="" class="m-table__col m-table-hotel-combined__col">
                                                    Doble
                                                </div>
                                                <div _ngcontent-c37="" class="m-table__col m-table-hotel-combined__col">
                                                    Alojamiento y Desayuno
                                                </div>
                                            </div>
                                        </div>
                                    </availability-hotel-combination-table-row-hotel>
                                    <availability-hotel-combination-table-row-hotel
                                            class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--separator"
                                            _nghost-c37="">
                                        <div _ngcontent-c37="" class="m-table-hotel-combined__panel">
                                            <span _ngcontent-c37=""
                                                  class="m-table-hotel-combined__panel-title">hotel:</span>&nbsp;

                                            <span _ngcontent-c37=""
                                                  class="m-table-hotel-combined__panel-text">Sunbeach</span>
                                        </div>
                                        <div _ngcontent-c37="" class="m-table">
                                            <div _ngcontent-c37="" class="m-table__row">
                                                <div _ngcontent-c37="" class="m-table__col m-table-hotel-combined__col">
                                                    Doble
                                                </div>
                                                <div _ngcontent-c37="" class="m-table__col m-table-hotel-combined__col">
                                                    Todo Incluido
                                                </div>
                                            </div>
                                        </div>
                                    </availability-hotel-combination-table-row-hotel>
                                </div>
                                <availability-hotel-combination-table-row-price
                                        class="m-table__row m-table__row--dashed-bordered m-table-hotel-combined__row m-table-hotel-combined__row--price"
                                        _nghost-c38="">
                                    <!---->
                                    <div _ngcontent-c38=""
                                         class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--services">
                                        <!---->
                                    </div>
                                    <div _ngcontent-c38=""
                                         class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--offers">
                                        <!---->
                                    </div>
                                    <div _ngcontent-c38=""
                                         class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--total">
                                        <a _ngcontent-c38="" class="c-price c-price--medium c-price--semibold">
                                            <!---->
                                            <price-view _ngcontent-c38="" _nghost-c27="">
                                                <span _ngcontent-c27="">1.605,50&nbsp;€</span>
                                            </price-view>
                                        </a>
                                        <!---->
                                    </div>
                                    <div _ngcontent-c38=""
                                         class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--action">
                                        <a _ngcontent-c38="" class="c-btn c-btn--small c-btn--uppercase hidden">seleccionar
                                        </a>
                                        <span _ngcontent-c38="" class="pg-a-color-green-1 pg-a-typo-ain u-uppercase">
													<i _ngcontent-c38=""
                                                       class="c-icon c-icon-check c-icon--included"></i>
        seleccionado

												</span>
                                    </div>
                                    <!---->
                                </availability-hotel-combination-table-row-price>
                            </div>
                        </availability-hotel-combination-table-row>
                    </div>
                    <!---->
                    <!---->
                </div>
            </div>
        </div>
    </availability-hotel-combination>
    {{{content}}}
    <availability-hotel-combination _ngcontent-c8="">
        <!---->
        <div class="m-panels__item m-panel">
            <div class="m-panel__header m-panel__header--center-xs m-panel__header--has-bg m-panel__header--has-bg-no-arrow">
                <!---->
                <div class="c-price c-price--inline c-price--uppercase c-price--big">
                    <!---->
                    <price-view class="c-price__element" _nghost-c27="">
                        <span _ngcontent-c27="">1.605,50&nbsp;€</span>
                    </price-view>
                    <span class="c-price__desc">Precio total del viaje</span>
                </div>
            </div>
            <div class="m-panel__content m-panel__content--no-padding">
                <div class="pg-o-card-combined pg-o-card-combined--has-dropdown">
                    <!---->
                    <availability-hotel-combination-detail class="pg-m-hotel pg-m-hotel--hz">
                        <div class="pg-m-hotel__item">
                            <picture class="pg-m-hotel__picture">
                                <img class=" loaded"
                                     src="https://d2poxrheyfxwbo.cloudfront.net/resize/120x130/filters:quality(65)/s3/hotel/ceff6efe-7c8e-496c-bf0c-69ac617ff633">
                            </picture>
                            <div class="pg-m-hotel__info">
                                <div class="pg-m-hotel__destination">La Habana, Cuba /
                                    3 noches
                                </div>
                                <a target="_blank" href="/hotel/neptuno-triton-la-habana?searcher=N"
                                   class="c-category c-category--block c-category-star--3" title="Neptuno-Tritón">
                                    <span class="pg-a-typo-mufrid u-semi-bold">Neptuno-Tritón</span>
                                </a>
                                <!---->
                                <div class="pg-m-hotel__desc pg-a-typo-ain">
                                    El hotel Neptuno / Tritón se encuentra en La Habana, Cuba y tiene tres estrellas. Se
                                    trata de un hotel inaugurado en el año 1991 que cuenta con muy buenas
                                    comunicaciones, ya que se encuentra cerca de los atractivos más importantes de la
                                    ciudad.

                                    Entre las
                                </div>
                            </div>
                        </div>
                    </availability-hotel-combination-detail>
                    <availability-hotel-combination-detail class="pg-m-hotel pg-m-hotel--hz">
                        <div class="pg-m-hotel__item">
                            <picture class="pg-m-hotel__picture">
                                <img class=" loaded"
                                     src="https://d2poxrheyfxwbo.cloudfront.net/resize/120x130/filters:quality(65)/s3/hotel/8dc4ff6c-4ecc-402f-bebd-81044d859a77">
                            </picture>
                            <div class="pg-m-hotel__info">
                                <div class="pg-m-hotel__destination">Varadero, Cuba /
                                    4 noches
                                </div>
                                <a target="_blank" href="/hotel/sunbeach-varadero?searcher=N"
                                   class="c-category c-category--block c-category-star--3" title="Sunbeach">
                                    <span class="pg-a-typo-mufrid u-semi-bold">Sunbeach</span>
                                </a>
                                <!---->
                                <div class="pg-m-hotel__desc pg-a-typo-ain">
                                    En el corazón de Varadero, en Cuba, se enclava el Sunbeach Grand Hotel. Es un resort
                                    de tres estrellas&amp;nbsp;a 70 metros del Caribe que se encarga de bañar la ciudad.
                                    Se trata de un establecimiento hotelero que cuenta con una larga serie de comodi
                                </div>
                            </div>
                        </div>
                    </availability-hotel-combination-detail>
                </div>
                <div class="m-table m-table-hotel-combined">
                    <div class="m-table__content m-table-hotel-combined__content">
                        <div class="m-table__row m-table-hotel-combined__row">
                            <!---->
                            <div class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--separator">
                                <div class="m-table">
                                    <div class="m-table__heading m-table-hotel-combined__heading m-table-hotel-combined__heading--desktop">
                                        <div class="m-table__concept m-table-hotel-combined__concept">tipo habitación
                                        </div>
                                        <div class="m-table__concept m-table-hotel-combined__concept">regimen</div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--separator">
                                <div class="m-table">
                                    <div class="m-table__heading m-table-hotel-combined__heading m-table-hotel-combined__heading--desktop">
                                        <div class="m-table__concept m-table-hotel-combined__concept">tipo habitación
                                        </div>
                                        <div class="m-table__concept m-table-hotel-combined__concept">regimen</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <availability-hotel-combination-table-row>
                            <div class="m-table__content m-table-hotel-combined__content">
                                <div class="m-table__row m-table__row--solid-bordered m-table-hotel-combined__row">
                                    <!---->
                                    <availability-hotel-combination-table-row-hotel
                                            class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--separator"
                                            _nghost-c37="">
                                        <div _ngcontent-c37="" class="m-table-hotel-combined__panel">
                                            <span _ngcontent-c37=""
                                                  class="m-table-hotel-combined__panel-title">hotel:</span>&nbsp;

                                            <span _ngcontent-c37="" class="m-table-hotel-combined__panel-text">Neptuno-Tritón</span>
                                        </div>
                                        <div _ngcontent-c37="" class="m-table">
                                            <div _ngcontent-c37="" class="m-table__row">
                                                <div _ngcontent-c37="" class="m-table__col m-table-hotel-combined__col">
                                                    Doble
                                                </div>
                                                <div _ngcontent-c37="" class="m-table__col m-table-hotel-combined__col">
                                                    Alojamiento y Desayuno
                                                </div>
                                            </div>
                                        </div>
                                    </availability-hotel-combination-table-row-hotel>
                                    <availability-hotel-combination-table-row-hotel
                                            class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--separator"
                                            _nghost-c37="">
                                        <div _ngcontent-c37="" class="m-table-hotel-combined__panel">
                                            <span _ngcontent-c37=""
                                                  class="m-table-hotel-combined__panel-title">hotel:</span>&nbsp;

                                            <span _ngcontent-c37=""
                                                  class="m-table-hotel-combined__panel-text">Sunbeach</span>
                                        </div>
                                        <div _ngcontent-c37="" class="m-table">
                                            <div _ngcontent-c37="" class="m-table__row">
                                                <div _ngcontent-c37="" class="m-table__col m-table-hotel-combined__col">
                                                    Doble
                                                </div>
                                                <div _ngcontent-c37="" class="m-table__col m-table-hotel-combined__col">
                                                    Todo Incluido
                                                </div>
                                            </div>
                                        </div>
                                    </availability-hotel-combination-table-row-hotel>
                                </div>
                                <availability-hotel-combination-table-row-price
                                        class="m-table__row m-table__row--dashed-bordered m-table-hotel-combined__row m-table-hotel-combined__row--price"
                                        _nghost-c38="">
                                    <!---->
                                    <div _ngcontent-c38=""
                                         class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--services">
                                        <!---->
                                    </div>
                                    <div _ngcontent-c38=""
                                         class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--offers">
                                        <!---->
                                    </div>
                                    <div _ngcontent-c38=""
                                         class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--total">
                                        <a _ngcontent-c38="" class="c-price c-price--medium c-price--semibold">
                                            <!---->
                                            <price-view _ngcontent-c38="" _nghost-c27="">
                                                <span _ngcontent-c27="">1.605,50&nbsp;€</span>
                                            </price-view>
                                        </a>
                                        <!---->
                                    </div>
                                    <div _ngcontent-c38=""
                                         class="m-table__col m-table-hotel-combined__col m-table-hotel-combined__col--action">
                                        <a _ngcontent-c38="" class="c-btn c-btn--small c-btn--uppercase hidden">seleccionar
                                        </a>
                                        <span _ngcontent-c38="" class="pg-a-color-green-1 pg-a-typo-ain u-uppercase">
													<i _ngcontent-c38=""
                                                       class="c-icon c-icon-check c-icon--included"></i>
        seleccionado

												</span>
                                    </div>
                                    <!---->
                                </availability-hotel-combination-table-row-price>
                            </div>
                        </availability-hotel-combination-table-row>
                    </div>
                    <!---->
                    <!---->
                </div>
            </div>
        </div>
    </availability-hotel-combination>
</div>