{{> organisms/popup/exit-intent}}


<itineraries-header class="pg-o-search-brief" style="top:0">
    <div class="pg-l-wrapper pg-l-wrapper--l pg-l-wrapper--gutter-resp">
        <div class="pg-o-search-brief__inner">
            <div class="pg-o-search-brief__desc">
                <itineraries-header-info>
                    <div class="pg-m-tour-name__desc"> Hungría, 8 días, Budapest y Praga
                    </div>
                    <div class="pg-m-tour-name__itn"> Disfruta de un viaje de cuento entre castillos fortificados,
                        simbólicos puentes y encantadores centros históricos
                    </div>
                </itineraries-header-info>
            </div>
            <div class="pg-o-search-brief__price">
                <div class="pg-l-wrapper pg-l-wrapper--l pg-l-wrapper--gutter-resp">
                    <itineraries-header-price class="pg-m-price">
                        <div class="pg-m-price__value">
                            <div class="pg-m-price__total"> 2.043,88 €</div>
                            <div class="pg-m-price__person">1.021,94 € por persona</div>
                        </div><!----><!---->
                        <div class="pg-m-price__button"><!----><a
                                class="c-btn c-btn--tertiary c-btn--small c-btn--uppercase c-btn--full"> reservar </a>
                            <!----></div>
                    </itineraries-header-price>
                    <itineraries-header-budget>
                        {{> atoms/button/text-icon
                                modifier="pg-m-save-budget__link a-button-xs a-button--mono-0 a-border--smooth a-text--uppercase a-fix--m a-mar--y"
                                svg="atoms/icons/utils/eye"
                                cta="Guarda tu Presupuesto"
                        }}
                    </itineraries-header-budget>
                </div>
            </div>
        </div>
    </div>
</itineraries-header>

<article style="width:300px"
         class="a-mar-40 m-offer-tours a-zoom-image m-offer-tours--has-shadow m-offer-tours--vertical "
         data-prop="priceCurrency"
         data-content="EUR" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" data-favorite-id="9M239"
         id="9M239">
    <div class="m-offer-tours__media">
        <div class="c-ribbon m-offer-tours__ribbon">
            <span>Destacado</span>
        </div>


        <div class="c-offer-tools m-offer-tours__tools">

            <a class="m-offer-tours__add-favorites m-offer__add-favorites c-icon c-icon-heart c-icon--medium"
               data-prop="id" data-content="9M239" data-id="#9M239"></a>
        </div>
        <picture class="m-offer-tours__picture">
            <source data-srcset="https://d2l4159s3q6ni.cloudfront.net/resize/480x350/filters:max_age(2604800):quality(65)/s3/dam/photos/68/71/f6/2d/7b5cde876a32905f89896451fd7ddf517c2d0b4cb174e86198889f03.jpg"
                    media="(max-width: 539px)"
                    srcset="https://d2l4159s3q6ni.cloudfront.net/resize/480x350/filters:max_age(2604800):quality(65)/s3/dam/photos/68/71/f6/2d/7b5cde876a32905f89896451fd7ddf517c2d0b4cb174e86198889f03.jpg">
            <source data-srcset="https://d2l4159s3q6ni.cloudfront.net/resize/400x280/filters:max_age(2604800):quality(65)/s3/dam/photos/68/71/f6/2d/7b5cde876a32905f89896451fd7ddf517c2d0b4cb174e86198889f03.jpg"
                    media="(max-width: 1199px)"
                    srcset="https://d2l4159s3q6ni.cloudfront.net/resize/400x280/filters:max_age(2604800):quality(65)/s3/dam/photos/68/71/f6/2d/7b5cde876a32905f89896451fd7ddf517c2d0b4cb174e86198889f03.jpg">
            <img class=" loaded" title="Rumanía: Rumanía histórica" alt="Rumanía: Rumanía histórica"
                 data-srcset="https://d2l4159s3q6ni.cloudfront.net/resize/280x225/filters:max_age(2604800):quality(65)/s3/dam/photos/68/71/f6/2d/7b5cde876a32905f89896451fd7ddf517c2d0b4cb174e86198889f03.jpg"
                 itemprop="image" data-prop="image"
                 data-content="https://d2l4159s3q6ni.cloudfront.net/resize/280x225/filters:max_age(2604800):quality(65)/s3/dam/photos/68/71/f6/2d/7b5cde876a32905f89896451fd7ddf517c2d0b4cb174e86198889f03.jpg"
                 content="https://d2l4159s3q6ni.cloudfront.net/resize/280x225/filters:max_age(2604800):quality(65)/s3/dam/photos/68/71/f6/2d/7b5cde876a32905f89896451fd7ddf517c2d0b4cb174e86198889f03.jpg"
                 srcset="https://d2l4159s3q6ni.cloudfront.net/resize/280x225/filters:max_age(2604800):quality(65)/s3/dam/photos/68/71/f6/2d/7b5cde876a32905f89896451fd7ddf517c2d0b4cb174e86198889f03.jpg">
        </picture>
        <picture class="m-offer-tours__picture m-offer-tours__picture--map is-active">
            <source data-srcset="https://d2l4159s3q6ni.cloudfront.net/resize/480x350/filters:max_age(2604800):quality(95)/s3/dam/photos/32/63/39/8f/897bee9203ce0a24fba26630bcdeeda3654cf8575b2c2e5ec7a54837.jpg"
                    media="(max-width: 539px)"
                    srcset="https://d2l4159s3q6ni.cloudfront.net/resize/480x350/filters:max_age(2604800):quality(95)/s3/dam/photos/32/63/39/8f/897bee9203ce0a24fba26630bcdeeda3654cf8575b2c2e5ec7a54837.jpg">
            <source data-srcset="https://d2l4159s3q6ni.cloudfront.net/resize/400x280/filters:max_age(2604800):quality(95)/s3/dam/photos/32/63/39/8f/897bee9203ce0a24fba26630bcdeeda3654cf8575b2c2e5ec7a54837.jpg"
                    media="(max-width: 1199px)"
                    srcset="https://d2l4159s3q6ni.cloudfront.net/resize/400x280/filters:max_age(2604800):quality(95)/s3/dam/photos/32/63/39/8f/897bee9203ce0a24fba26630bcdeeda3654cf8575b2c2e5ec7a54837.jpg">
            <img class=" loaded" title="Rumanía: Rumanía histórica" alt="Rumanía: Rumanía histórica"
                 data-srcset="https://d2l4159s3q6ni.cloudfront.net/resize/274x220/filters:max_age(2604800):quality(95)/s3/dam/photos/32/63/39/8f/897bee9203ce0a24fba26630bcdeeda3654cf8575b2c2e5ec7a54837.jpg"
                 itemprop="image" data-prop="image"
                 data-content="https://d2l4159s3q6ni.cloudfront.net/resize/274x220/filters:max_age(2604800):quality(95)/s3/dam/photos/32/63/39/8f/897bee9203ce0a24fba26630bcdeeda3654cf8575b2c2e5ec7a54837.jpg"
                 content="https://d2l4159s3q6ni.cloudfront.net/resize/274x220/filters:max_age(2604800):quality(95)/s3/dam/photos/32/63/39/8f/897bee9203ce0a24fba26630bcdeeda3654cf8575b2c2e5ec7a54837.jpg"
                 srcset="https://d2l4159s3q6ni.cloudfront.net/resize/274x220/filters:max_age(2604800):quality(95)/s3/dam/photos/32/63/39/8f/897bee9203ce0a24fba26630bcdeeda3654cf8575b2c2e5ec7a54837.jpg">
        </picture>
    </div>
    <div class="m-offer-tours__content">
        <div class="m-offer-tours__itinerary">
            <h4 class="m-offer-tours__itinerary-ct">
                <a href="/viajes-rumania">
                    <span itemprop="description" content="Circuito, Rumanía, 8 días">Rumanía,</span>
                </a>
                8 días
            </h4>
            <div class="m-offer-tours__itinerary-ci"
                 title="Bucarest, Sibiu, Bistrita, Bucovina, Cárpatos, Brasov y Sinaia">
                <span>Visitando: </span> Bucarest, Sibiu, Bistrita, Bucovina, Cárpatos, Brasov y Sinaia
            </div>
        </div>
        <div class="m-offer-tours__desc">
            <h3 class="m-offer-tours__title" data-prop="name" itemprop="name" content="Rumanía histórica"
                data-content="Rumanía histórica">
                <a href="/viajes/circuito-rumania-rumania-historica">Rumanía histórica</a>
            </h3>
        </div>
        <p class="m-offer-tours__text">Visita Rumanía con este circuito de 8 días. Pasea por las calles de <strong>Bucarest</strong>,
            la ciudad de Drácula, <strong>Bistrita</strong> y conoce el castillo de <strong>Sinaia</strong>.</p>
    </div>
    <div class="m-offer-tours__actions">
        <a class="m-offer-tours__link c-link" href="/viajes/guia/circuito-rumania-rumania-historica" target="_blank">
            <i class="c-icon c-icon--big c-icon-map"></i>
            Ver guía completa
        </a>
        <a class="m-offer-tours__price c-price c-price--theme-2" data-prop="url"
           data-content="/viajes/circuito-rumania-rumania-historica" href="/viajes/circuito-rumania-rumania-historica">
            <div class="c-price__box">

                <span class="c-price__from" data-prop="pricePrefix" data-content="Desde" itemprop="priceCurrency"
                      content="EUR">Desde</span>
                <span class="c-price__element" data-prop="price" itemprop="price" content="859" data-content="859 €">859 €  </span>


            </div>
            <div class="c-price__box c-price__box--arrow">
                <span class="c-price__arrow c-icon c-icon-direction c-icon--medium"></span>
            </div>
        </a>
        <a class="m-offer-tours__btn c-btn c-btn--has-radius c-btn--tertiary  c-btn--big c-btn--uppercase"
           href="/viajes/circuito-rumania-rumania-historica">Ver disponibilidad</a>
    </div>
</article>

{{> organisms/banner/float
        icon="burger"
        title="<strong>Punta Cana / Playa Bávaro</strong> es uno de nuestros destinos más solicitados."
        claim="¡Aprovecha ahora antes de que los precios cambien!"
        modifier="a-bg--dark a-pad--y-20 l-position--fixed--bottom"
        titleModifier="a-text--brand--light a-mar-0 a-pad--x a-text--uppercase "
        claimModifier="a-text--secondary a-pad a-text--light a-text--s"
}}