<section class="og-slider og-slider--articles l-flex l-flex--direction-column a-bg--image a-bg--image--technology">
    {{> atoms/title/h2
            title="Ayudamos a las marcas a mejorar su rendimiento online"
            color="secondary"
            modifier="a-mar-40 og-slider--articles__text"
    }}
    <hr>
    <div class="ml-block-articles-minimalist l-flex l-flex--justify-center a-pad--y-20">
        {{> atoms/title/h3
                title="Los 10 Patrones adaptados a Javascript"
                size="a-text--s"
                color="secondary"
                modifier="a-text--underline a-text--center a-text--light ml-block-articles-minimalist__element a-pad--x-20"
        }}
        {{> atoms/title/h3
                title="Los 10 Patrones adaptados a Javascript"
                size="a-text--s"
                color="secondary"
                modifier="a-text--underline a-text--center a-text--light ml-block-articles-minimalist__element a-pad--x-20"
        }}
        {{> atoms/title/h3
                title="Los 10 Patrones adaptados a Javascript"
                size="a-text--s"
                color="secondary"
                modifier="a-text--underline a-text--center a-text--light ml-block-articles-minimalist__element a-pad--x-20"
        }}
    </div>
</section>
