<div class="ml-card-hover l-position u-overflow-hidden a-border--rounded card">
    {{> atoms/image/background
            modifier="a-image--cover"
            pictureClass="ml-card-hover__image image"
            src="https://frontjs.es/wp-content/uploads/2019/06/david.jpg"}}
    <div class="ml-card-hover__details details
                a-bg
                l-flex l-flex--direction-column l-flex--justify-center l-flex--align-center">
        <h3>Cofundador </h3>
        <p>Pequeña Descripcion</p>
        <nav class="a-pad-5">
            <a href="#" class="a-text a-svg a-pad--right-5">
                {{> atoms/icons/social/facebook}}
            </a>
            <a href="#" class="a-text a-svg a-pad--right-5">
                {{> atoms/icons/social/twitter}}
            </a>
            <a href="#" class="a-text a-svg a-pad--right-5">
                {{> atoms/icons/social/linkedin}}
            </a>
        </nav>
    </div>
</div>