<div class="ml-slider-buttons l-flex modifier {{modifier}}">
    {{#times 2}}
        {{> atoms/button/slider}}
    {{/times}}
    {{> atoms/button/slider isActive="true"}}
    {{#times 3}}
        {{> atoms/button/slider}}
    {{/times}}
</div>