<div id="{{id}}" class="a-pad-40 l-position {{modifier}}">
    {{> atoms/image/background
            modifier="a-image--cover"
            pictureClass=""
            src="https://designyoutrust.com/wp-content/uploads/2018/09/Bugaboos.jpg"}}
    <div class="a-text a-text--xl a-text--uppercase a-text--inset">SEO
    </div>
</div>