<div class="a-mar ml-message-demand-banner
            l-flex l-flex--justify-center l-flex--align-center l-position a-mar-auto
            a-bg-mono-0 a-border--smooth a-text--center a-text--bold u-shadow"
     style="height: 40px;
            width: 700px;">
    <div class="a-svg a-svg--m a-svg--brand ml-message-demand-banner__svg l-position--absolute"
         style="left: 25px;top: 0; bottom:0">
        {{> atoms/icons/utils/eye}}
    </div>
    <div class="ml-message-demand-banner__text">
        Este circuito es muy popular ha recibido más de <span class="a-text--brand a-pad--y-5">500 visitas</span> en los
        últimos días.
    </div>
</div>