<!--{{> organisms/articles/avatar  modifier=""}}-->
<div class="p-default p-wordpress l-grid-column">
    <button class="a close">a</button>
    <button class="b close">b</button>
    <button class="c close">c</button>
    <div class="wrapper">
        <div class="bs_state ca is-active"
             data-close=".close"
             data-active=".a">
            ca
        </div>
        <div class="bs_state cb"
             data-close=".close"
             data-active=".b">
            cb
        </div>
        <div class="bs_state cc"
             data-close=".close"
             data-active=".c">
            cc
        </div>
    </div>
    <style>
        .ca,.cb,.cc{
            display:none;
        }
        .ca.is-active, .cb.is-active, .cc.is-active{
            display:block
        }

    </style>
    <p><strong>Headings</strong></p>
    <h1>Header one</h1>
    <h2>Header two</h2>
    <h3>Header three</h3>
    <h4>Header four</h4>
    <h5>Header five</h5>
    <h6>Header six</h6>
    <h2>Blockquotes</h2>
    <p>Single line blockquote:</p>
    <blockquote><p>Stay hungry. Stay foolish.</p></blockquote>
    <p>Multi line blockquote with a cite reference:</p>
    <blockquote><p>People think focus means saying yes to the thing you&#8217;ve got to focus on. But that&#8217;s
        not what it means at all. It means saying no to the hundred other good ideas that there are. You have to
        pick carefully. I&#8217;m actually as proud of the things we haven&#8217;t done as the things I have done.
        Innovation is saying no to 1,000 things. <cite>Steve Jobs &#8211; Apple Worldwide Developers&#8217;
            Conference, 1997</cite></p></blockquote>
    <h2>Tables</h2>
    <table>
        <thead>
        <tr>
            <th>Employee</th>
            <th class="views">Salary</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd">
            <td><a href="http://example.com/">Jane</a></td>
            <td>$1</td>
            <td>Because that&#8217;s all Steve Job&#8217; needed for a salary.</td>
        </tr>
        <tr class="even">
            <td><a href="http://example.com">John</a></td>
            <td>$100K</td>
            <td>For all the blogging he does.</td>
        </tr>
        <tr class="odd">
            <td><a href="http://example.com/">Jane</a></td>
            <td>$100M</td>
            <td>Pictures are worth a thousand words, right? So Tom x 1,000.</td>
        </tr>
        <tr class="even">
            <td><a href="http://example.com/">Jane</a></td>
            <td>$100B</td>
            <td>With hair like that?! Enough said&#8230;</td>
        </tr>
        </tbody>
    </table>
    <h2>Definition Lists</h2>
    <dl>
        <dt>Definition List Title</dt>
        <dd>Definition list division.</dd>
        <dt>Startup</dt>
        <dd>A startup company or startup is a company or temporary organization designed to search for a repeatable
            and scalable business model.
        </dd>
        <dt>#dowork</dt>
        <dd>Coined by Rob Dyrdek and his personal body guard Christopher &#171;Big Black&#187; Boykins, &#171;Do
            Work&#187; works as a self motivator, to motivating your friends.
        </dd>
        <dt>Do It Live</dt>
        <dd>I&#8217;ll let Bill O&#8217;Reilly will <a title="We'll Do It Live"
                                                       href="https://www.youtube.com/watch?v=O_HyZ5aW76c">explain</a>
            this one.
        </dd>
    </dl>
    <h2>Unordered Lists (Nested)</h2>
    <ul>
        <li>List item one
            <ul>
                <li>List item one
                    <ul>
                        <li>List item one</li>
                        <li>List item two</li>
                        <li>List item three</li>
                        <li>List item four</li>
                    </ul>
                </li>
                <li>List item two</li>
                <li>List item three</li>
                <li>List item four</li>
            </ul>
        </li>
        <li>List item two</li>
        <li>List item three</li>
        <li>List item four</li>
    </ul>
    <h2>Ordered List (Nested)</h2>
    <ol>
        <li>List item one
            <ol>
                <li>List item one
                    <ol>
                        <li>List item one</li>
                        <li>List item two</li>
                        <li>List item three</li>
                        <li>List item four</li>
                    </ol>
                </li>
                <li>List item two</li>
                <li>List item three</li>
                <li>List item four</li>
            </ol>
        </li>
        <li>List item two</li>
        <li>List item three</li>
        <li>List item four</li>
    </ol>
    <h2>HTML Tags</h2>
    <p>These supported tags come from the WordPress.com code <a title="Code"
                                                                href="http://en.support.wordpress.com/code/">FAQ</a>.
    </p>
    <p><strong>Address Tag</strong></p>
    <address>1 Infinite Loop<br/>
        Cupertino, CA 95014<br/>
        United States
    </address>
    <p><strong>Anchor Tag (aka. Link)</strong></p>
    <p>This is an example of a <a title="Apple" href="http://apple.com">link</a>.</p>
    <p><strong>Abbreviation Tag</strong></p>
    <p>The abbreviation <abbr title="Seriously">srsly</abbr> stands for &#171;seriously&#187;.</p>
    <p><strong>Acronym Tag</strong></p>
    <p>The acronym <acronym title="For The Win">ftw</acronym> stands for &#171;for the win&#187;.</p>
    <p><strong>Big Tag</strong></p>
    <p>These tests are a <big>big</big> deal, but this tag is no longer supported in HTML5.</p>
    <p><strong>Cite Tag</strong></p>
    <p>&#171;Code is poetry.&#187; &#8212;<cite>Automattic</cite></p>
    <p><strong>Code Tag</strong></p>
    <p>You will learn later on in these tests that <code>word-wrap: break-word;</code> will be your best friend.</p>
    <p><strong>Delete Tag</strong></p>
    <p>This tag will let you
        <del>strikeout text</del>
        , but this tag is no longer supported in HTML5 (use the <code>&lt;strike&gt;</code> instead).
    </p>
    <p><strong>Emphasize Tag</strong></p>
    <p>The emphasize tag should <em>italicize</em> text.</p>
    <p><strong>Insert Tag</strong></p>
    <p>This tag should denote
        <ins>inserted</ins>
        text.
    </p>
    <p><strong>Keyboard Tag</strong></p>
    <p>This scarcely known tag emulates <kbd>keyboard text</kbd>, which is usually styled like the
        <code>&lt;code&gt;</code>
        tag.</p>
    <p><strong>Preformatted Tag</strong></p>
    <p>This tag styles large blocks of code.</p>
    <p><strong>Quote Tag</strong></p>
    <p><q>Developers, developers, developers&#8230;</q> &#8211;Steve Ballmer</p>
    <p><strong>Strong Tag</strong></p>
    <p>This tag shows <strong>bold<strong> text.</strong></strong></p>
    <p><strong>Subscript Tag</strong></p>
    <p>Getting our science styling on with H<sub>2</sub>O, which should push the &#171;2&#187; down.</p>
    <p><strong>Superscript Tag</strong></p>
    <p>Still sticking with science and Isaac Newton&#8217;s E = MC<sup>2</sup>, which should lift the 2 up.</p>
    <p><strong>Teletype Tag</strong></p>
    <p>This rarely used tag emulates <tt>teletype text</tt>, which is usually styled like the
        <code>&lt;code&gt;</code> tag.</p>
    <p><strong>Variable Tag</strong></p>
    <p>This allows you to denote <var>variables</var>.</p>
    <h2 id="que-es-el-aguacate-o-palta">Qué es el Aguacate o Palta</h2>
    <p>El <strong>aguacate</strong>, en inglés <strong>Avocado</strong> y nombre científico <em><a
            href="https://es.wikipedia.org/wiki/Persea_americana" target="_blank" rel="noopener">Persea
        Americana</a></em>, es una fruta aceitosa de sabor neutro que recuerda a la avellana. Su aspecto con una
        forma de pera de mayor tamaño que reconoceremos por su piel verde y por el hueso central no comestible.
    </p>
    <figure id="attachment_338" style="width: 244px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/hass-avocado-2032538_1280.jpg"><img
            class="wp-image-338 size-medium loaded"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/hass-avocado-2032538_1280-244x300.jpg"
            alt="Rama de aguacates" width="244" height="300" data-was-processed="true"></a>
        <figcaption class="wp-caption-text">Una rama con muchos frutos</figcaption>
    </figure>
    <h3>Producción</h3>
    <p>Tiene fama mundial, pero sobretodo los veremos en lo<strong>s mercados de la América de habla
        Hispana</strong>; donde goza de mayor popularidad es en <strong>México</strong>,
        <strong>Venezuela</strong>
        y <strong>Colombia</strong>.</p>
    <figure id="attachment_45" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/aguacate-recien-abierto.jpg"><img
            class="size-medium wp-image-45 loaded"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/aguacate-recien-abierto-300x200.jpg"
            alt="Aguacate abierto" width="300" height="200" data-was-processed="true"></a>
        <figcaption class="wp-caption-text">Fruta en corte vertical</figcaption>
    </figure>
    <h2 id=""></h2>
    <h3>¿Hortaliza o fruta?</h3>
    <p>Es una <strong>fruta</strong>. Es fácil caer en el error por ser <strong>una de las pocas frutas
        aceitosas
        con un sabor neutro</strong> que no aporta dulzor al paladar. Eso puede hacernos pensar que no es una
        fruta,
        pero una fruta se define como<strong> el fruto que tiene semillas dentro</strong>, por lo tanto, es una
        fruta y también una verdura.</p>
    <figure id="attachment_337" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/hass-avocado-1054736_1280.jpg"><img
            class="size-medium wp-image-337 loading"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/hass-avocado-1054736_1280-300x199.jpg"
            alt="Aguacate creciendo" width="300" height="199" data-was-processed="true"></a>
        <figcaption class="wp-caption-text">El fruto creciendo</figcaption>
    </figure>
    <h3>El Aguacate Macho</h3>
    <p>Es un fallo común definir a esta fruta por “género”. <strong>Se denomina “aguacate macho” a uno que no
        puede
        tener descendencia</strong>, pero cualquiera con el tiempo puede llegar a ser fértil y ser “hembra”, así
        que
        es una cuestión más de paciencia que de genero.</p>
    <hr>
    <figure id="attachment_44" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/aguacate-plantado-creciendo.jpg"><img
            class="size-medium wp-image-44 loading"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/aguacate-plantado-creciendo-300x200.jpg"
            alt="Frutos del árbol del aguacate" width="300" height="200" data-was-processed="true"></a>
        <figcaption class="wp-caption-text">Frutos del árbol</figcaption>
    </figure>
    <p>&nbsp;</p>
    <h2 id="como-cultivar-el-aguacate">Cómo cultivar el Aguacate</h2>
    <p><strong>Sigue estos pasos</strong> para hacer crecer tu aguacate sano:</p>
    <h3>Dónde cultivar</h3>
    <p>Es <strong>fruto de un árbol</strong>, <strong>no es un árbol que debamos tener en casa ni siquiera
        debemos
        tenerlo cerca de zonas urbanas</strong>, ya que es un árbol con las<strong> raíces muy grandes y
        fuertes.</strong></p>
    <figure id="attachment_194" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/calender-2389150_1280.png"><img
            class="size-medium wp-image-194 loading"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/calender-2389150_1280-300x300.png"
            alt="calendario de plantación" width="300" height="300" data-was-processed="true"></a>
        <figcaption class="wp-caption-text">Calendario de plantación del árbol</figcaption>
    </figure>
    <h3>Cuándo se planta</h3>
    <p>Puede ser <strong>plantado en cualquier época del año</strong>, pero hay que tener en cuenta que la
        <strong>temperatura
            mínima que aguanta es la de los 10ºC</strong>. Sí en nuestra tierra hace más frío de lo que puede
        aguantar,
        <strong>conviene plantarlo en una época más calurosa y protegerlo de las heladas</strong>.</p>
    <figure id="attachment_333" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/avocado-1488561_1280.jpg"><img
            class="size-medium wp-image-333 loading"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/avocado-1488561_1280-300x200.jpg"
            alt="Planta de Aguacate" width="300" height="200" data-was-processed="true"></a>
        <figcaption class="wp-caption-text">Planta casera</figcaption>
    </figure>
    <h3>Cómo se planta</h3>
    <p><strong>Hay tres técnicas</strong> de plantado que tenemos que valorar para plantarlo. Las dos primeras
        técnicas son<strong> desde la semilla y la tercera desde un injerto</strong>.</p><h4>Desde semilla</h4>
    <p>La primera manera de plantarlo es usando <strong>directamente la semilla en la tierra, este proceso puede
        durar varios años y debemos tener en cuenta que sufren la amenaza de los hongos</strong> y debemos
        plantar
        la especie resistente a ella.</p><h4>Plantación hidroponica</h4>
    <p>La segunda manera es usando la semilla hacer <strong>una plantación hidropónica hasta que la semilla
        empiece
        a echar raíces</strong>, cambiándole el agua dos o tres veces a la semana<strong> y cuando eche raíces
        plantarlo en la tierra</strong>, eso acelerará un poco el proceso, pero la espera será larga.</p><h4>Por
    esqueje</h4>
    <p>La <strong>tercera</strong> y<strong> más común</strong> es <strong>replantar parte de un árbol ya
        existente
        en la tierra y con ello crecerá la misma variedad</strong> y especie con sus resistencias. Por lo tanto
        una
        mayor resistencia a las amenazas y en un periodo de tiempo muchísimo más corto.</p>
    <figure id="attachment_336" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/golf-1649258_1280.jpg"><img
            class="size-medium wp-image-336 loading"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/golf-1649258_1280-300x199.jpg"
            alt="Rama de aguacate" width="300" height="199" data-was-processed="true"></a>
        <figcaption class="wp-caption-text">Rama del árbol</figcaption>
    </figure>
    <h3>Cuándo se transplanta</h3>
    <p>Depende de la técnica que hayamos usado o donde lo hayamos plantado. <strong>Si lo hemos plantado
        directamente de semillas y tiene espacio</strong> suficiente para crecer estando lejos de una zona
        urbana,
        <strong>podremos dejarlo ahí</strong>.</p>
    <p>Sin embargo<strong> si lo hemos plantado en un trozo de terreno insuficiente</strong>, deberemos <strong>transplantarlo
        antes de que se complique</strong> su posible traslado.</p>
    <p>Si hemos hecho la técnica d<strong>e plantado del agua</strong>, <strong>cuando ya haya echado
        raíces</strong> tendremos que transplantarlo a la tierra para que pueda seguir su proceso.</p>
    <figure id="attachment_344" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/hass-avocado-945418_1280.jpg"><img
            class="size-medium wp-image-344 loading"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/hass-avocado-945418_1280-300x205.jpg"
            alt="Frutos casi listos" width="300" height="205" data-was-processed="true"></a>
        <figcaption class="wp-caption-text">Frutos casi listos</figcaption>
    </figure>
    <h3 class="r">Cuándo florece y da frutos</h3>
    <p>Para que dé frutos,<strong> es importante que cerca de donde se esté haya otros de su misma especie con
        el
        fin de facilitar la fertilización</strong>, si bien es cierto que son hermafroditas y <strong>podrían
        fertilizarse a sí mismos las posibilidades decrecen si es sólo uno</strong>. En definitiva, mejor tener
        por
        lo menos dos.</p>
    <span class="bctt-click-to-tweet"><span class="bctt-ctt-text"><a
            href="https://twitter.com/intent/tweet?url=https://plantasyflores.online/aguacate/&amp;text=Siempre%20hay%20que%20tener%20m%C3%A1s%20de%20un%20%23aguacatero%20para%20disfrutar%20de%20%23aguacate%20%23polinizacion%20&amp;via=JardineraAmable&amp;related=JardineraAmable"
            target="_blank" rel="noopener noreferrer">Siempre hay que tener más de un #aguacatero para disfrutar de #aguacate #polinizacion  </a></span><a
            href="https://twitter.com/intent/tweet?url=https://plantasyflores.online/aguacate/&amp;text=Siempre%20hay%20que%20tener%20m%C3%A1s%20de%20un%20%23aguacatero%20para%20disfrutar%20de%20%23aguacate%20%23polinizacion%20&amp;via=JardineraAmable&amp;related=JardineraAmable"
            target="_blank" class="bctt-ctt-btn" rel="noopener noreferrer">&#65279;Clic para tuitear</a></span>
    <p>&nbsp;</p>
    <figure id="attachment_345" style="width: 325px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/refrigerator-1132254_1280.jpg"><img
            class="wp-image-345"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/refrigerator-1132254_1280-300x200.jpg"
            alt="Nevera" width="325" height="217"></a>
        <figcaption class="wp-caption-text">Para conservar</figcaption>
    </figure>
    <p>&nbsp;</p>
    <h2 id="el-aguacate-y-la-cocina">El Aguacate y la cocina</h2>
    <h3>Dónde conservar</h3>
    <p>La mejor manera de almacenarlo es siempre en una nevera o frigorífico. Se pueden dar tres casos que
        varían
        ligeramente el proceso de conservado.</p>
    <ul>
        <li><strong>Maduro sin cortar</strong>
            <ul>
                <li>Lo mejor es guardarlo en el frigorífico sin hacerle ningún proceso adicional. La propia piel
                    lo
                    mantendrá lejos de los sabores y aromas de la nevera.
                </li>
            </ul>
        </li>
        <li><strong>Maduro cortado</strong>
            <ul>
                <li>Si hemos empezado, es importante no retirar el hueso o semilla y cubrirlo con film
                    transparente,
                    la semilla hará que menos parte del fruto quede inservible y el film lo protegerá de aromas
                    externos.
                </li>
            </ul>
        </li>
        <li><strong>No maduro sin cortar</strong>
            <ul>
                <li>Si no está maduro, lo mejor es no empezarlo y dejarlo un tiempo fuera de la nevera para que
                    acabe de madurar.
                </li>
            </ul>
        </li>
    </ul>
    <h3>Cómo pelar correctamente</h3>
    <p>El modo más eficiente de pelar el fruto es<strong> realizar un corte vertical que separe el fruto en dos
        porciones y con una cuchara ayudarnos para separar el contenido de la piel</strong>. Esta es la manera
        de no
        desperdiciar ni un poco de fruta que nos llevará menos tiempo.</p>
    <figure id="attachment_334" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/avocados-354061_1280.jpg"><img
            class="size-medium wp-image-334"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/avocados-354061_1280-300x200.jpg"
            alt="Precio del Aguacate" width="300" height="200"></a>
        <figcaption class="wp-caption-text">Precio de la frutería</figcaption>
    </figure>
    <h3>La variedad más sabrosa</h3>
    <p>Se podría decir que como<strong> en la variedad está el gusto</strong>. pero el que se considera el
        <strong>más
            sabroso</strong> es <strong>la variedad de Florida</strong> y que <strong>complementa mejor los
            sabores en
            platos. </strong></p>
    <figure id="attachment_343" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/avocado-2210652_1280.jpg"><img
            class="size-medium wp-image-343"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/avocado-2210652_1280-300x200.jpg"
            alt="Estado del Aguacate" width="300" height="200"></a>
        <figcaption class="wp-caption-text">¿Está malo? ¿Bueno?</figcaption>
    </figure>
    <h3>¿Cómo saber cuando está malo, podrido o pasado?</h3>
    <p>Es simple, para analizarlo <strong>debemos retirar la parte superior, la parte dónde estaba unida al
        árbol, y
        retirarlo</strong>. <strong>Si el contenido es marrón, el aguacate estará pasado de fecha. Si es
        amarillo,
        posiblemente le falte un poquito de maduración</strong>. Y si es verde, estará riquísimo.</p>
    <figure id="attachment_341" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/avocado-829092_1280.jpg"><img
            class="size-medium wp-image-341"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/avocado-829092_1280-300x200.jpg"
            alt="Guacamole" width="300" height="200"></a>
        <figcaption class="wp-caption-text">Guacamole</figcaption>
    </figure>
    <h3>Cómo cocinar</h3>
    <p>Se podrían escribir más de 20 libros con todas las formas de cocinar el aguacate. Posiblemente ya se haya
        hecho. Ha llegado a muchas culturas y posiblemente la forma más extendida sea el Guacamole y la
        ensalada.
        Pero mi preferido, sin dudas, es <strong>el zumo</strong>.</p>
    <hr>
    <figure id="attachment_247" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/herbal-tea-1410565_1280.jpg"><img
            class="size-medium wp-image-247"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/herbal-tea-1410565_1280-300x187.jpg"
            alt="Plantas Medicinales" width="300" height="187"></a>
        <figcaption class="wp-caption-text">Plantas Medicinales</figcaption>
    </figure>
    <h2 id="beneficios-y-propiedades-del-aguacate">Beneficios y propiedades del Aguacate</h2>
    <ul>
        <li><strong>Refuerzo cardiovascular</strong></li>
        <li><strong>Protección</strong> para el <strong>cabello</strong></li>
        <li><strong>Ayuda en el embarazo</strong> al desarrollo del feto</li>
        <li>Mejora el <strong>sistema inmunológico</strong></li>
        <li>Ayuda a mantener la <strong>visión sana</strong></li>
        <li><strong>Refuerza la absorción de nutrientes</strong></li>
        <li><strong>Previene el Alzheimer</strong></li>
    </ul>
    <figure id="attachment_331" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/avocado-1171725_1280.jpg"><img
            class="size-medium wp-image-331"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/avocado-1171725_1280-300x200.jpg"
            alt="Semilla de Aguacate" width="300" height="200"></a>
        <figcaption class="wp-caption-text">Semilla o Hueso</figcaption>
    </figure>
    <h3>Nutrientes y vitaminas</h3>
    <p>Por cada 100g tenemos:</p>
    <ul>
        <li>225 Kcal</li>
        <li>1,70g Hidratos</li>
        <li>0,45g Fibra</li>
        <li>6,40g Grasa</li>
        <li>Vitaminas: K, B6, B9</li>
    </ul>
    <figure id="attachment_342" style="width: 300px" class="wp-caption aligncenter"><a
            href="http://www.plantasyflores.online/wp-content/uploads/2017/07/measure-1897778_1280.jpg"><img
            class="size-medium wp-image-342"
            src="http://www.plantasyflores.online/wp-content/uploads/2017/07/measure-1897778_1280-300x200.jpg"
            alt="cinta métrica" width="300" height="200"></a>
        <figcaption class="wp-caption-text">¿Adelgaza o Engorda?</figcaption>
    </figure>
    <h3>¿Adelgaza realmente el aguacate?</h3>
    <p>Es un mito ya que tiene un alto contenido energético y, aunque la mayor parte de las grasas sean
        beneficiosas. Si no tenemos cuidado con el consumo, podría llegar a engordar.</p>
    <span class="bctt-click-to-tweet"><span class="bctt-ctt-text"><a
            href="https://twitter.com/intent/tweet?url=https://plantasyflores.online/aguacate/&amp;text=El%20Aguacate%20NO%20adelgaza&amp;via=JardineraAmable&amp;related=JardineraAmable"
            target="_blank" rel="noopener noreferrer">El Aguacate NO adelgaza </a></span><a
            href="https://twitter.com/intent/tweet?url=https://plantasyflores.online/aguacate/&amp;text=El%20Aguacate%20NO%20adelgaza&amp;via=JardineraAmable&amp;related=JardineraAmable"
            target="_blank" class="bctt-ctt-btn" rel="noopener noreferrer">&#65279;Clic para tuitear</a></span>
    <h2>Quiénes somos</h2>
    <p>La <span class="bs_tooltip a-text--underline"
                data-mode="hover"
                data-template="full"
                data-content="Prueba de un tooltip superlargo, Prueba de un tooltip superlargo.">dirección</span>
        de nuestra web es: http://pyf.online:8888.</p>
    <h2>Qué datos personales recogemos y por qué los recogemos</h2>
    <h3>Comentarios</h3>
    <p>Cuando los visitantes dejan comentarios en la web, recopilamos los datos que se muestran en el formulario de
        comentarios, así como la dirección IP del visitante y la cadena de agentes de usuario del navegador para
        ayudar
        a la detección de spam.</p>
    <p>Una cadena anónima creada a partir de tu dirección de correo electrónico (también llamada hash) puede ser
        proporcionada al servicio de <strong>Gravatar</strong> para ver si la estás usando. La política de
        privacidad
        del servicio
        Gravatar está disponible aquí: https://automattic.com/privacy/. Después de la aprobación de tu comentario,
        la
        imagen de tu perfil es visible para el público en el contexto de su comentario.</p>
    <h3>Medios</h3>
    <p>Si subes imágenes a la web deberías evitar subir imágenes con datos de ubicación (GPS EXIF) incluidos. Los
        visitantes de la web pueden descargar y extraer cualquier dato de localización de las imágenes de la
        web.</p>
    <h3>Formularios de contacto</h3>
    <h3>Cookies</h3>
    <p>Si dejas un comentario en nuestro sitio puedes elegir guardar tu nombre, dirección de correo electrónico y
        web en
        cookies. Esto es para tu comodidad, para que no tengas que volver a rellenar tus datos cuando dejes otro
        comentario. Estas cookies tendrán una duración de un año.</p>
    <p>Si tienes una cuenta y te conectas a este sitio, instalaremos una cookie temporal para determinar si tu
        navegador
        acepta cookies. Esta cookie no contiene datos personales y se elimina al cerrar el navegador.</p>
    <p>Cuando inicias sesión, también instalaremos varias cookies para guardar tu información de inicio de sesión y
        tus
        opciones de visualización de pantalla. Las cookies de inicio de sesión duran dos días, y las cookies de
        opciones
        de pantalla duran un año. Si seleccionas &quot;Recordarme&quot;, tu inicio de sesión perdurará durante dos
        semanas. Si sales de tu cuenta, las cookies de inicio de sesión se eliminarán.</p>
    <p>Si editas o publicas un artículo se guardará una cookie adicional en tu navegador. Esta cookie no incluye
        datos
        personales y simplemente indica el ID del artículo que acabas de editar. Caduca después de 1 día.</p>
    <h3>Contenido incrustado de otros sitios web</h3>
    <p>Los artículos de este sitio pueden incluir contenido incrustado (por ejemplo, vídeos, imágenes, artículos,
        etc.).
        El contenido incrustado de otras web se comporta exactamente de la misma manera que si el visitante hubiera
        visitado la otra web.</p>
    <p>Estas web pueden recopilar datos sobre ti, utilizar cookies, incrustar un seguimiento adicional de terceros,
        y
        supervisar tu interacción con ese contenido incrustado, incluido el seguimiento de tu interacción con el
        contenido incrustado si tienes una cuenta y estás conectado a esa web.</p>
    <h3>Analítica</h3>
    <h2>Con quién compartimos tus datos</h2>
    <h2>Cuánto tiempo conservamos tus datos</h2>
    <p>Si dejas un comentario, el comentario y sus metadatos se conservan indefinidamente. Esto es para que podamos
        reconocer y aprobar comentarios sucesivos automáticamente en lugar de mantenerlos en una cola de
        moderación.</p>
    <p>De los usuarios que se registran en nuestra web (si los hay), también almacenamos la información personal que
        proporcionan en su perfil de usuario. Todos los usuarios pueden ver, editar o eliminar su información
        personal
        en cualquier momento (excepto que no pueden cambiar su nombre de usuario). Los administradores de la web
        también
        pueden ver y editar esa información.</p>
    <h2>Qué derechos tienes sobre tus datos</h2>
    <p>Si tienes una cuenta o has dejado comentarios en esta web, puedes solicitar recibir un archivo de exportación
        de
        los datos personales que tenemos sobre ti, incluyendo cualquier dato que nos hayas proporcionado. También
        puedes
        solicitar que eliminemos cualquier dato personal que tengamos sobre ti. Esto no incluye ningún dato que
        estemos
        obligados a conservar con fines administrativos, legales o de seguridad.</p>
    <h2>Dónde enviamos tus datos</h2>
    <p>Los comentarios de los visitantes puede que los revise un servicio de detección automática de spam.</p>
    <h2>Tu información de contacto</h2>
    <h2>Información adicional</h2>
    <h3>Cómo protegemos tus datos</h3>
    <h3>Qué procedimientos utilizamos contra las brechas de datos</h3>
    <h3>De qué terceros recibimos datos</h3>
    <h3>Qué tipo de toma de decisiones automatizada y/o perfilado hacemos con los datos del usuario</h3>
    <h3>Requerimientos regulatorios de revelación de información del sector</h3>
</div>

<div class="l-flex l-flex--justify-center l-flex--wrap">
    {{#each this.mock.products}}
        {{> molecules/product/float
                discount=true
                title=this.name
                image=this.image
                price=this.price
                message=true
                background="a-bg"
                margin="60"}}
    {{/each}}
    {{> molecules/card/float}}
</div>