<div class="a-input {{modifier}} a-pad">
    <input type="text"
           class="l-column--1-1 a-pad"
           {{#if required}}required="required"{{/if}}
           placeholder="{{placeholder}}"
    />
</div>