<div class="ml-slider-buttons l-flex l-flex--wrap {{modifier}}">
    {{#times buttonLength}}
        {{> atoms/button/slider modifier="a-button--slider--pill" modifier=modifierButton href=@index}}
    {{/times}}
</div>