<div class="a-icon
            a-icon--badge
            a-bg
            a-bg--mono-0
            a-border
            a-border--gigantic
            a-border--rounded
            a-border--dark
            l-flex
            l-flex--justify-center
            {{modifier}}
">
    <div class="c-icon c-icon-bell-wave a-animation--bell {{modifierIcon}}"></div>
</div>