{{> organisms/header/double
        logo="https://cintiplanes.es/wp-content/uploads/2019/04/logoCP.png"
        modifier="og-header-double--overflow"
        background="a-bg--light"
}}
{{> molecules/breadcrumb/solid
        path=(arr "Inicio")
        url=(arr "/cp/")
        modifier="a-bg--secondary"
        linksModifier=""
}}

{{> organisms/slider/simple}}
<div class="l-column--2-3 l-column--mobile--1-1 a-mar-auto ">
    {{> organisms/articles/banner}}
    <div class="og-card-random-phrase
                l-flex l-flex--align-center l-position
                a-pad-20 a-mar a-border--smooth
                u-shadow--bottom a-pad-40">
        {{> molecules/text/quote
                modifier="og-card-random-phrase__image l-column--1-1"}}
        <div class="og-card-random-phrase__action l-position--absolute l-position--absolute--top-right u-pointer a-svg a-svg--brand">
            {{> atoms/icons/random}}
        </div>
        {{> molecules/share/deploy
                modifier="ml-share-deploy--bottom l-position--absolute--top-left"
                iconModifier="a-svg--brand"
                id="unique"}}
    </div>
    {{> organisms/articles/condensed title="Mis Cruceros"}}
    {{> organisms/articles/condensed title="Mis viajes por Carretera"}}
</div>


