<div class="l-column--2-3 l-column--mobile--1-1 a-mar-auto ">

    <div class="og-card-random-phrase
                l-flex l-flex--align-center l-position
                a-pad-20 a-mar a-border--smooth
                u-shadow--bottom a-pad-40">
        {{> molecules/text/quote
                modifier="og-card-random-phrase__image l-column--1-1"}}
        <div class="og_card-random-phrase__action l-position--absolute l-position--absolute--right-corner">
            <img width="15" src="https://cdn.onlinewebfonts.com/svg/img_294583.png"/>
        </div>
    </div>
    {{> organisms/articles/condensed}}
</div>


