<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/index.css" media="all">
<link rel="stylesheet" href="https://d1mu6onvg8psse.cloudfront.net/dist/assets/css/iberojet/main.css" media="all">
<link rel="stylesheet" href="https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/css/iberojet/caribbean/main.css?v=251120180829">
<body class="{{activePage}}">
    {{{body}}}
    <script type="text/javascript">
        var channel = "B2C";
    </script>
    <script src="https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/js/gtm/analyticscore.bundle.js"></script>
    <script src="https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/js/vendor/plugins.js?v=171220181130"></script>
    <script src="https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/js/pegasusUtils.js?v=171220181130"></script>
    <script src="https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/js/pegasusUI.js?v=171220181130"></script>
    <script src="https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/js/min/commonsB2C.js?v=171220181130"></script>
    <script src="https://www.iberojet.es/viajes-caribe/js/parameters.js?v=201812030635"></script>
    <script src="https://www.iberojet.es/viajes-caribe/js/searcher.js?v=201812030635"></script>
    <script src="https://www.iberojet.es/viajes-caribe/js/availability.js?v=201812030635"></script>
    <script src="https://www.iberojet.es/viajes-caribe/js/calendar.js?v=201812030635"></script>
    <script src="https://www.iberojet.es/viajes-caribe/js/search.js?v=201812030635"></script>
    <script src="https://www.iberojet.es/viajes-caribe/js/connections.js?v=201812030635"></script>
    <script src="https://www.iberojet.es/viajes-caribe/js/rooms.js?v=201812030635"></script>
    <script src="https://www.iberojet.es/viajes/js/search.js?v=201812131121"></script>
    <script type="text/javascript" src="/js/framework.min.js"></script>
    <script type="text/javascript" src="/js/components.min.js"></script>

</body>
</html>