<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/index.css" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
    {{{body}}}
    <script type="text/javascript" src="/js/framework.min.js"></script>
    <script type="text/javascript" src="/js/components.min.js"></script>
</body>
</html>
