<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/css/muchoviaje/main.css?v=230620190700"
          media="all">
    <link rel="stylesheet" href="/css/index.min.css" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{name}}">
    <title>{{name}}ABC</title>

</head>
<body class="{{brand}} l-grid-column--full ">
{{{body}}}
<script type="text/javascript" src="/js/components.min.js"></script>
</body>
</html>

