<section class="og-banner-arrow">
    <div class="og-banner-arrow__simple a-pad {{modifier}}">
        {{> atoms/title/h2
                title="¿Quienes somos?"
                color="secondary"
                modifier="a-text--center"
        }}
        {{> atoms/paragraph/simple
                text="Una empresa en la que confiar y empezar tu sueño de estar en la red"
                modifier="a-text--center a-text--secondary"
        }}
    </div>
    <div class="og-banner-arrow__edge  l-flex l-flex--justify-center a-pad">
        {{> atoms/button/rounded
                cta="Conócenos"
                modifier="a-button a-button--s a-button--secondary a-mar--y--bottom-40"
        }}
    </div>
</section>
