<section class="og-banner-basic
                l-flex l-flex--justify-space-around l-grid-column--full
                a-bg a-pad l-flex--wrap {{modifier}}">
    <div class="og-banner-basic-content l-flex l-flex--direction-column a-pad-20">
        {{> atoms/title/h2
                title="¿Quieres aprender por tu cuenta?"
                color="secondary"
                modifier=""
        }}
        {{> atoms/paragraph/simple
                text="Si prefieres hacer tu proyecto por tu cuenta, aquí tienes las bases"
                modifier="a-text--secondary"
        }}
    </div>
    {{> atoms/button/rounded
            cta="Leer Blog ➜"
            modifier="a-button--s a-button--secondary a-text--m l-flex-item--align-center"
    }}
</section>