<section class="og-banner-data l-flex l-flex--justify-space-around a-bg--gradient--light a-bg--animated a-pad-40 l-flex--wrap {{modifier}}">
    {{> molecules/data/quantity
            quantity="10"
            type="Cursos"
    }}
    {{> molecules/data/quantity
            quantity="12"
            type="Proyectos"
    }}
    {{> molecules/data/quantity
            quantity="30"
            type="Plugins"
    }}
</section>