<section class="og-banner-float a-bg
                l-column--1-1 l-position--fixed
                u-shadow--top {{modifier}}
                bs_state"
         data-close="og-banner-float__close"
         data-active=""
         data-delay="2000">
    <div class="og-banner-float__content
                l-flex l-flex--justify-center l-flex--align-center l-column--2-3 l-column--mobile--1-1
                a-mar-auto">
        {{> atoms/icons/badge icon=icon
                modifier=textModifier
                modifierIcon="a-text--secondary"}}
        <div class="l-column--2-3 l-column--mobile--1-1 l-flex l-flex--direction-column l-flex--align-center">
            {{> atoms/paragraph/simple
                    text=claim modifier=titleModifier}}
            {{> atoms/paragraph/simple
                    text=title modifier=claimModifier}}
        </div>
    </div>
    <div class="og-banner-float__close c-icon c-icon-close u-pointer"></div>
</section>
