<div class="og-banner-outside-circle l-flex l-flex--direction-column l-flex--justify-center a-pad--y {{modifier}}">
    <div class="l-column--1-1">
        {{> atoms/image/normal
                src="https://cdnb.artstation.com/p/assets/images/images/008/331/651/large/bakhytzhan-shabdukarimov-new-demo-5-vostok.jpg?1512057321"
                pictureClass="a-pad l-column--1-1"
                modifier="l-column--1-1"
        }}
    </div>
    {{> molecules/box/circle
            heading="Tu guía de viaje"
            destination="Egipto"
            subtitle="El país de las pirámides"
            modifier="a-border a-border--fat a-border--primary a-mar-auto a-mar__minus-60 u-layer-1"}}
</div>