<div class="og-banner-outside-circle l-flex l-flex--direction-column l-flex--justify-center {{modifier}}">
    <div class="l-column--1-1">
        {{> atoms/image/normal
                src=src
                pictureClass="a-pad l-column--1-1"
                modifier="l-column--1-1"
        }}
    </div>
    {{> molecules/box/circle
            heading="Tu guía de viaje"
            destination="Egipto"
            subtitle="El país de las pirámides"
            modifier="a-border a-border--fat a-border--primary a-mar-auto a-mar--minus-60 u-layer-0"}}
</div>