<section class="og-banner-screen
                l-position--fixed
                a-bg--gradient--light
                l-grid-column--full
                l-flex l-flex--align-center l-flex--direction-column l-flex--justify-center {{modifier}}">
    <div class="og-banner-screen__logo l-position
                u-shadow--bottom
                a-bg--mono-0
                l-flex l-flex--justify-center l-flex--align-center
                a-border--rounded">
        {{> atoms/image/normal
                modifier="og-banner-screen__image a-image--cover a-mar-auto "
                pictureClass="a-text--center bs_viewport a-mi a-mi--float bs_viewport"
                src=logo
        }}
    </div>
</section>
