<div class="og-banner-screen og-banner-screen--dark l-flex l-flex--justify-center l-flex--align-center l-flex--direction-column">
    {{> atoms/title/h1 title="Let me" size="xl" color="secondary" modifier="a-text--uppercase a-text--bold"}}
    {{> atoms/image/normal
            modifier="l-column--2-3"
            pictureClass=" a-text--center"
            src="https://www.maxpixel.net/static/photo/1x/Bow-Holidays-Gift-Decoration-The-Ribbon-Ornament-1859613.png"}}
</div>