<div class="og-slider og-slider--simple l-flex l-flex--align-center l-flex--justify-center l-position">
    {{> molecules/slider/arrow
            direction="left"
            modifier="ml-arrow--full l-flex l-flex--align-center l-flex--justify-center"}}
    {{> molecules/slider/arrow
            direction="right"
            modifier="ml-arrow--full
                      l-flex l-flex--align-center l-flex--justify-center"}}
    <div class="og-slider--simple__wrapper l-column--1-1">
        {{> molecules/slider/content}}
    </div>

</div>