

<div class="og-slider--simple l-flex l-flex--align-center l-flex--justify-center l-position bs_slider">
    {{> molecules/slider/arrow
            direction="left"
            modifier="ml-arrow--full l-flex l-flex--align-center l-flex--justify-center"}}
    {{> molecules/slider/arrow
            direction="right"
            modifier="ml-arrow--full
                      l-flex l-flex--align-center l-flex--justify-center"}}
    <div class="og-slider--simple__content">
        {{> molecules/slider/content id="1"}}
        {{> molecules/slider/content id="2"}}
        {{> molecules/slider/content id="3"}}
        {{> molecules/slider/content id="4"}}
        {{> molecules/slider/content id="5"}}
    </div>
    {{> molecules/slider/buttons
            modifier="l-position--absolute l-position--absolute--bottom og-slider--simple__buttons a-pad"
            modifierIcon=""}}
</div>

