<div class="og-header-double l-position--sticky u-layer-1">
    <div class="og-header-double--logo a-bg l-flex l-flex--justify-center l-flex--align-center">
        {{> atoms/image/normal
                pictureClass=""
                modifier="s"
                src="https://www.e-zegarki.pl/common/img/logos/brands/big/white/vostok-europe.png"}}
    </div>
    <nav class="og-header-double--navigation
                l-flex l-flex--justify-center
                a-pad-10 a-bg--mono-1">
        {{#times 4}}
            <a href="#" class="a-text a-text--link og-header-double--navigation--link a-pad--x">Enlace 1</a>
        {{/times}}
    </nav>
</div>
{{> organisms/slider/simple}}