{{> organisms/header/double
        logo="https://www.e-zegarki.pl/common/img/logos/brands/big/white/vostok-europe.png"
        background="a-bg--mono-9"
        nav=(arr "Inicio,Buscador,Ejemplo")
        url=(arr "/vostok/,/vostok/search,/vostok/product")
}}
{{> molecules/breadcrumb/solid
        path=(arr "Inicio,Relojes Atómicos, Atomic Watch")
        url=(arr "/vostok/,/vostok/search,/#")
        modifier="a-text a-bg"
        linksModifier="a-text--link--secondary"

}}

<article class="ml-article-semicircle l-flex l-flex--wrap a-mar">
    <div class="ml-article-semicircle__content
                l-flex l-flex--direction-column l-flex--justify-center a-pad-5">
        {{> atoms/title/h2 title="Prueba 2" modifier="a-text--brand a-text--bold"}}
        {{> atoms/paragraph/simple
                text="Una prueba de concepto con un pequeño extracto de artículo para ver como se adapta."
                modifier=""}}
    </div>
    <div class="ml-article-semicircle__image l-position">
        {{> atoms/image/normal
                src=images.product
                pictureClass="l-position--absolute"
                modifier="a-image--cover"
        }}
    </div>
</article>

</div>
{{> organisms/block/poster-detail modifier=""}}

{{> atoms/image/parallax image=images.product}}

{{> organisms/block/poster-detail modifier=""}}

{{> organisms/footer/classic
        linkModifier="a-text--xs a-text--secondary a-pad--top-5 a-text--link--secondary"
        columnModifier="l-column l-column--1-4 l-column--mobile--1-1
                         a-pad--x-20 a-pad--mobile-40
                         a-border a-border--light a-border--left a-border--mobile--bottom"}}
