<div class="l-flex l-flex--direction-column l-flex--align-center" style="padding-top: 150px">
    <div class="l-column--1-3 l-flex l-flex--justify-center a-pad-40 a-mar--y-40 l-position sky">
        <h2 class="a-text a-text--xl a-text--shadow a-text--uppercase a-mar--minus-40">
            Sky
        </h2>
        {{> molecules/share/deploy
                modifier="ml-share-deploy--right"
                iconModifier="a-svg--brand"
                id="unique"}}
    </div>
    <div class="l-column--1-3 l-flex l-flex--justify-center a-pad-40 a-mar--y-40 l-position forest">
        <h2 class="a-text a-text--xl a-text--shadow a-text--uppercase a-mar--minus-40">
            Forest
        </h2>
        {{> molecules/share/deploy
                modifier="ml-share-deploy--right"
                iconModifier="a-svg--brand"
                id="unique1"}}
    </div>
    <div class="l-column--1-3 l-flex l-flex--justify-center a-pad-40 a-mar--y-40 l-position mint">
        <h2 class="a-text a-text--xl a-text--shadow a-text--uppercase a-mar--minus-40">
            mint
        </h2>
        {{> molecules/share/deploy
                modifier="ml-share-deploy--right"
                iconModifier="a-svg--brand"
                id="unique2"}}
    </div>

</div>