<div class="wood">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="bs_tooltip"
         data-mode="hover"
         data-content="Prueba de un tooltip superlargo, Prueba de un tooltip superlargo, Prueba de un tooltip superlargo, Prueba de un tooltip superlargo"
         data-template="default">Click</div>
    {{> organisms/block/masonry}}
    <div class="og-cards-hover l-flex l-flex--justify-center l-flex--wrap">
        {{# times 3}}
            {{> molecules/card/hover}}
        {{/times}}
    </div>
    {{#each this.mock.products}}
        {{> molecules/content/newspaper}}
    {{/each}}
</div>