<section class="l-grid-column--full {{modifier}} a-pad--x-40">
    {{> atoms/image/normal
            pictureClass=" a-image-logo--content"
            modifier="a-image-logo--content__image a-mar-auto"
            src=logo }}
    {{> atoms/title/h2 modifier="a-text--bold a-text--m" title="Tu viaje en 2 pasos"}}
</section>
