<div class="ml-image-selection {{modifier}}">
    {{> atoms/image/normal
            src="https://es.t-mobile.com/sdcdn/dtmobile//content/dam/t-mobile/en-p/internet-devices/apple/watch-series4-44/space-gray-black-band/Apple-WatchSeries4-Cellular-44mm-AluminumSpaceGray-SportBand-Black-1-3x.jpg"
            pictureClass=""
            target=target
            modifier="bs_image_replace a-border a-image--s a-image--cover u-pointer"
    }}
    {{> atoms/image/normal
            src="https://cdn.shopify.com/s/files/1/0238/6181/products/Weiss_Watch_Company_Automatic_Issue_Field_Watch_White_Dial_2048x2048.jpg?v=1545033364"
            pictureClass=""
            target=target
            modifier="bs_image_replace a-border a-image--s a-image--cover u-pointer"
    }}
    {{> atoms/image/normal
            src="https://cdn1.cnet.com/img/JBhI_TZY9FdH6jlX-frBVgy2LHM=/2018/09/13/0ae445fe-2616-4c45-b799-fadcab95da02/apple-event-091218-apple-watch-series-4-0748.jpg"
            pictureClass=""
            target=target
            modifier="bs_image_replace a-border a-image--s a-image--cover u-pointer"
    }}
</div>