<div class="ml-image-selection {{modifier}}">
    {{#times 3}}
        {{> atoms/image/normal
                src="https://es.t-mobile.com/sdcdn/dtmobile//content/dam/t-mobile/en-p/internet-devices/apple/watch-series4-44/space-gray-black-band/Apple-WatchSeries4-Cellular-44mm-AluminumSpaceGray-SportBand-Black-1-3x.jpg"
                pictureClass=""
                modifier="a-border a-image--s a-image--cover"
        }}
    {{/times}}
</div>