<article class="ml-article-rainbow a-border--rainbow a-mar-20 {{modifier}}">
    {{> atoms/title/h3 title=title modifier="a-text--blur a-text--secondary"}}
    {{> atoms/paragraph/simple modifier="a-text--blur a-text--secondary a-pad" text=description}}
    <div class="ml-article-rainbow__button a-mar--top-40">
        {{> atoms/button/rounded
                cta=cta
                modifier="a-button a-button--s a-button--fade"
        }}
    </div>
</article>