<nav class="ml-anchor-cloud
            l-flex l-flex--direction-column l-flex--align-center
            {{modifier}} bs_anchor_container"
     data-link-class="a-text--link a-text--brand a-text--xs a-text--center a-pad-5"
     data-prepend="a-text--shadow a-text--uppercase a-pad--x-5 l-position--absolute l-position--absolute--anchor"
     data-content=".bs_anchor_list">
    <ul class=".bs_anchor_list ml-anchor-cloud__list l-flex l-flex--wrap l-flex--justify-center"></ul>
</nav>